[2014-01-08 15:00] newtriks opened #2 "Hyphenated project names are not removed from file naming logic"
[code]

Result:

**React-grunt-exampleApp.js**

Expect:

**ReactGruntExampleApp.js**

[2014-01-08 15:28] #2 closed, assigned to newtriks

[2014-01-09 03:32] ioRekz opened #3 "mainInput settings in package.json doest not match the default one"
No big deal but when you run the default conf there is an error due to the mainInput value in package.json not matching ReactpackApp

[2014-01-20 19:53] petehunt opened #4 "jsxhint?"
Is it possible to use jshintreact or jsxhint instead of ignoring the JSX parts of your code?

[2014-01-20 19:54] petehunt opened #5 "CSS scaffolding"
Would be nice to add a CSS require for each component added so people know where to put CSS. For instagram we do:

require('./ComponentName.css')

[2014-01-20 19:55] petehunt opened #6 "Client-side routing"
Would be cool if there was a React router that was in npm installable and was set up out-of-the-box by the generator

[2014-02-13 13:43] yanns opened #7 "error while generating project"
$ yo react-webpack
gives me the following error:
npm ERR! notarget No compatible version found: jsx-loader@'petehunt/jsx-loader'
npm ERR! notarget Valid install targets:
npm ERR! notarget ["0.0.0"]
npm ERR! notarget
npm ERR! notarget This is most likely not a problem with npm itself.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version

[2014-05-09 11:03] edoloughlin opened #9 "Can't have camelCase component names"
If I try to create a component:

[code]

The file/object created is called `Contentbrowser`

[2014-05-14 20:07] #7 closed, assigned to newtriks

[2014-05-15 19:50] #4 closed, assigned to nobody

[2014-05-15 19:51] #5 closed, assigned to nobody

[2014-05-15 22:52] #9 closed, assigned to nobody

[2014-05-15 22:58] newtriks opened #12 "Generated paths in tests if subdirectory passed as arg are wrong."
Resolving paths in the require() for the component in tests for components generated with a subdirectory are wrong.

[2014-05-16 07:34] #3 closed, assigned to newtriks

[2014-05-21 11:15] alduro opened #13 "Create basic backend logic in generator."
As we talked in comments.

[2014-05-23 21:40] edoloughlin opened #14 "Installing jQuery?"
Sorry about the noob question, but I haven't used Yeoman/Grunt/Webpack before. I'm trying to install jQuery in my project so I can do the whole `var $ = require('jquery');` thing.

This leads to `grunt serve` giving the following error:
    `Module not found: Error: Cannot resolve module jquery in <my file...>`

I've looked around for other webpack generators but I'm afraid to use them in case the

[2014-05-23 22:43] #14 closed, assigned to nobody

[2014-06-10 10:01] edoloughlin opened #15 "grunt test doesn't work - PhantomJS times out waiting for tests"
Being new to nodejs tools, I've run out of rope trying to resolve this problem, so I'm posting here as a last resort as I don't know which package is causing the problem.

In a nutshell Karma (or Jasmine? I don't know) doesn't run the tests and PhantomJS times out (Chrome just sits there indefinitely). There are some hints around the web that it might be a webpack problem, but I've tried some twea

[2014-06-28 22:10] umbrae opened #16 "Suggestion: Webpack require should resolve jsx by default"
I had to add:

[code]

To my webpack config so that jsx files could be easily `require` without being explicit about extension names. I'm still a noob at most of this but it seems like this may be handy for others.

[2014-07-27 10:29] gaearon opened #19 "Support JSX live-editing in development mode"
Are you interested in adding [JSX live editing](https://github.com/gaearon/react-hot-loader) for React components? It's as simple as adding a loader before `jsx-loader` in Webpack config and [tweaking Webpack config to enable Hot Module Replacement](http://gaearon.github.io/react-hot-loader/#integration).

I can work up a pull request if you'd like to have this.

[2014-08-17 09:56] #15 closed, assigned to nobody

[2014-08-22 21:31] the-gigi opened #22 "grunt build fails to find components (in webpack:dist task)"
Everything works just fine with the webpack-dev-server (running 'grunt serve'). But, when I run 'grunt build' it processes one of my components that contains another component (both in the src/scripts/components directory):

[code]

The error I get is:

[code]

There is a Playground.jsx component in this directory and it is working just fine with the webpack dev server.

I'm not sure if I'm doing

[2014-09-17 15:29] scpeterson opened #25 "CSS Preprocessors"
Would it be possible to add the option to use SASS or LESS instead of straight CSS?

[2014-09-25 20:29] #16 closed, assigned to nobody

[2014-09-25 20:30] #22 closed, assigned to nobody

[2014-09-26 13:28] #6 closed, assigned to nobody

[2014-09-26 13:28] #12 closed, assigned to nobody

[2014-09-26 13:52] newtriks opened #26 "Remove Grunt default install and add as an option"
Have Grunt installed as an option during running of Yeoman.

[2014-09-26 14:00] newtriks opened #27 "Remove Karma default install and add as an option"
Also add [Jest](http://facebook.github.io/jest/) as an option (or simply replace with Jest?).

[2014-10-03 21:06] #19 closed, assigned to nobody

[2014-10-10 02:59] pikeas opened #30 "Content flash?"
I'm using this generator to explore React. I'm new to both yeoman and React, so let me know if I can add more detail or if I should move this issue elsewhere.

With a clean install (`yo react-webpack; bower install; npm install; grunt serve`), there's an unstyled content flash when opening up the app. Is this an issue with the generator?

[2014-10-11 14:17] ColCh opened #31 "Syntax error"
Create component with invalid JS var name:
[code]

and inside component jsx file:
[code]

Yep `App-description` is invalid variable name.

So may be throw some errors while creating component files?

[2014-11-04 19:45] #25 closed, assigned to nobody

[2014-12-15 07:39] iroy2000 opened #35 "What is the best way to include 3rd party library"
I was wondering if I'm using this generator, what is the best way to include the 3rd party library like "jquery"  ?

I'm trying to use bower, but I need to do "bower install" inside the "src/scripts/components" directory, and then do a "alias" inside the webpack.config file, and even thought it works, but I want to know what is the recommended ways of doing this ?

Thanks

[2014-12-21 14:36] victor-homyakov opened #36 "Update React to 0.12.X"

[2014-12-21 16:12] victor-homyakov opened #37 "Update README.md with proper reference to Jasmine"
Original URL http://pivotal.github.io/jasmine/ is dead. I believe it should be changed to http://jasmine.github.io/1.3/introduction.html (or whichever version you use).

[2015-01-09 17:39] ColCh commented on #31
I think right behaviour must be throwing an exception for wrong variable identifiers

[2015-01-12 16:53] lunarose23 opened #44 "missing bower.json and it is failing"
it loads without bower... but still gives error

[2015-01-20 00:26] alexortiz201 opened #46 "Less build does not add less check in tests"
It automatically adds it into the the webpack configs, might want to add to tests by default. Blows up grunt test command.

[2015-01-25 02:37] polluxus opened #47 "Can Bootstrap be provided as an option?"
Thank author. I like  the react-webpack very much. It's awesome. However, it took me quite a long time to get bootstrap into my project.   Is it possible to have bootstrap loaded as an option, like the way react-router is provided?  Or, is there an easy way to load bootstrap? thanks

[2015-01-25 09:10] newtriks commented on #47
Hey @polluxus thank you :) In regards to integrating BS, I am personally not so keen. However, a well documented page could be created for this repos wiki on how to do it?

[2015-01-29 21:43] KingScooty commented on #30
+1 - Chrome 40 on Yosemite.

Getting a flash of the 'JS isn't enabled message' before the everything loads in.

[2015-01-30 15:50] sebastienbarre commented on #46
+1

[2015-02-04 17:24] cedricss opened #49 "Loss of .jsx extension"
Looks like #38 merged pull request has moved reactSuffix from `.jsx` to `.js`, breaking some user build rules or code editor conf based on the extension.

Example: `scripts/component/main.js` is still a JSX file but with the `.js` extension.

Any particular reason for this change? /cc @andrewliebchen

[2015-02-04 17:33] #47 closed

[2015-02-04 17:34] #36 closed

[2015-02-04 17:34] #35 closed

[2015-02-04 17:35] #37 closed

[2015-02-04 17:43] newtriks commented on #49
It's a hot topic and I welcome thoughts, maybe this should be configurable and therefore an option when running Yeoman....?

https://github.com/facebook/react/issues/832
https://github.com/kriasoft/react-starter-kit/issues/52#issuecomment-72844613

[2015-02-04 17:47] andrewliebchen commented on #49
Making it an option is a nice idea!

[2015-02-05 13:20] cedricss commented on #49
Oh indeed, it looks clear that Facebook is pushing forward the `.js` extension (see latest [reactjs conf videos](https://www.youtube.com/playlist?list=PLb0IAmt7-GS1cbw4qonlQztYV1TAW0sCr), or [their code example](https://github.com/facebook/react/tree/master/examples)).

And some code editor plugins are experimenting [other ways](https://github.com/orktes/atom-react/pull/29) to detect JSX file.

In

[2015-02-05 13:42] newtriks commented on #49
@cedricss agreed. So, I will close this and stick with how it is for now but reopen if the consensus changes.

[2015-02-05 13:42] #49 closed

[2015-02-05 13:56] #46 closed

[2015-02-05 14:00] #44 closed

[2015-02-09 08:02] jonaswindey opened #52 "Hot loader not reloading on save"
When I save a JS(x) file or stylesheet, my webpack bundle gets rebuilt but the content doesn't change in the browser. I need to manually refresh the page.

I launch the server with the webpack-dev-server grunt task. Is there anything else I need to do to enable live reloading?

[2015-02-10 16:44] jasongroulx commented on #26
Could Gulp be installed as an option?

[2015-02-10 16:45] newtriks commented on #26
@jasongroulx that's the way I'm thinking this could go, have Grunt, Gulp, etc optional.

[2015-02-11 20:09] dannymk opened #53 "access to node_modules or bower_components during development (webpack-dev-server)..."
Not knowing were to exactly ask this question as it involves:
react-webpack
react-bootstrap
grunt
webpack-dev-middleware
whether to use bower or npm modules, etc...

after a great start:
yo react-webpack
yo react-webpack:component foo
grunt serve...

How do I allow access to the node_modules or bower_components directory in the index.html file?

My current solution was to use a grunt task to copy

[2015-02-14 09:20] ColCh commented on #30
It's needed to make serverside rendering and extract CSS into separate file: see [extract-text-webpack-plugin](https://github.com/webpack/extract-text-webpack-plugin). Yup that's very important thing on production builds, but do we really need to refuse CSS Hot Load in favor of FOUC fix?

[2015-02-14 10:37] newtriks commented on #30
@ColCh agreed. I think this maybe out of scope of the generator but welcome comments here or links for people to overcome this issue on production builds? Gonna close for now unless someone has a better solution that doesn't compromise dev builds....

[2015-02-14 10:37] #30 closed

[2015-02-14 15:39] dannymk commented on #53
I am closing this as I have decided it is more of a webpack-dev-middleware issue.  I have asked the question there.

[2015-02-14 15:47] dannymk opened #54 "react-webpack:component asset path is not properly created..."
yo react-webpack:component Panels/Main
...
styles/Component
   create src/scripts/components/Panels/Main.js
   create test/spec/components/Panels/Main.js
   create src/styles/Panels/Main.sass
...

in components/Panels/Mail.js
...
require('../../styles/Main.sass');  //<--- this does not work
it should be
require('../../../styles/Panels/Main.sass');  //<--- works!

[2015-02-14 15:48] #53 closed

[2015-02-17 17:49] jamesmanning opened #60 "replace 6to5 with babel"
Likely just a search-and-replace, but the --es6 support now triggers a warning with npm since 6to5 was renamed

![image](https://cloud.githubusercontent.com/assets/225626/6233767/59148770-b6a3-11e4-9407-4ff8a416f56b.png)

[2015-02-18 07:51] jamesmanning commented on #60
whoops, dupe of #55

[2015-02-18 07:51] #60 closed

[2015-02-20 11:10] ColCh commented on #54
Wow, nice feature request here

I think that it's better to make alises [in webpack config] to point in 'src/styles' dir

[2015-02-20 17:51] #54 closed

[2015-02-21 18:42] framp opened #63 "App doesn't start and aliases are broken (Alias PR)"
The alias PR #62  broke the generator.

After generating the app nothing starts because of a missing comma on line 36 in `_webpack.dist.config.js`.

The default app is broken too because alias feature isn't working with `./src/styles` and the default App crashes.

It's working if I change it to:

    alias: {
      'styles': '../../../src/styles',
      'components': '../../../src/scripts/componen

[2015-02-22 00:38] shunchu commented on #63
I'm experiencing the same issue. Thanks for filing this bug.

[2015-02-22 18:44] hardchor commented on #52
You need to navigate to http://localhost:8000/webpack-dev-server/ (only found this out by reading through the Gruntfile)

[2015-02-22 19:07] nirarazi commented on #63
Same issue for me too

[2015-02-25 07:50] joe5yellow commented on #63
I noticed that in `./scripts/components/yourApp.js`, there is
[code]
I changed styles file paths(with that comma fix first) to
[code]
also fix the issue.

Will #66 be better?

[2015-02-25 08:02] joe5yellow opened #67 "npm install failed at building node-sass@1.2.3"
Error message:
[code]

I think node-sass is only used in sass-loader which requires node-sass to play sass files.
I will try an upgrade of sass-loader from 0.3.1 to 0.4.0.

[2015-02-25 08:07] joe5yellow commented on #67
[code]

It works fine:)

[2015-02-25 13:46] framp commented on #63
That was the original solution before #62, which introduced aliases.

The best solution would be to have an option on webpack to set the root path IMHO

[2015-02-27 09:33] supnate opened #68 "Incorrect style path when creating a component."
Follow the tutorial, after run `yo react-webpack:component foo` the generated code for importing less file is: `require('styles/foo.less');`, it should be `require('../../styles/foo.less');`. The issue also exists in the default component with the project name.

[2015-02-27 09:39] #63 closed

[2015-02-27 09:40] supnate commented on #52
To avoid webpack-dev-server in the url with hot-loader, add an entry in your webpack.config.js like below:
[code]

[2015-02-27 15:04] renanvalentin opened #69 "Slow React Tests"
Hey guys, are you with this problem too? A single test is taking more than 3 seconds to complete.

[2015-03-03 20:37] ianqueue commented on #67
@joe5yellow - I upgraded sass-loader globally, but this still doesn't fix my issue, when I try and run the generator again it's still looking for node-sass 1.2.3 which i'm on 2.0.1...

npm WARN prefer global jshint@2.6.3 should be installed with -g
\

Binary downloaded and installed at /Users/ianquattlebaum/dev/react/node_modules/sass-loader/node_modules/node-sass/vendor/darwin-x64/binding.node

`

[2015-03-03 20:46] ianqueue commented on #67
I'm also on Node 0.12.0, not sure if that is problem

[2015-03-03 20:47] ianqueue commented on #67
Also, trying to pull this from NPM doesn't seem to give me the latest code, perhaps needs to be registered?  Was seeing the missing commas fixed in the latest commit 4 days ago

[2015-03-07 10:23] evilcat1337 opened #71 "Missing comma"
In generated project in file `webpack.dist.config.js` in line 36 a comma at the end of the line is missing.

[2015-03-12 08:53] frostney commented on #26
Would you mind if I took a crack at it? I would like to see a Gulp option and a "No task runners" option.

[2015-03-12 09:16] newtriks commented on #26
Of course, that would be appreciate thanks!

[2015-03-13 02:39] joe5yellow commented on #67
@ianqueue I didn't upgrade sass-loader globally, I just run `npm remove sass-loader --save; npm install sass-loader@0.4.0 --save` in the project folder. It's 9 days since I have been busy offline, hope you made it already :smiley:

[2015-03-14 09:15] Semigradsky opened #72 "normalize.css as npm package"
Added `normalize.css` as dependency.
It would be more great: `require('normalize.css/normalize.css');`

[2015-03-14 10:08] Semigradsky commented on #71
Now looks good.

[2015-03-14 16:49] marr opened #73 "Update to React 0.13"

[2015-03-17 09:25] newtriks commented on #72
@Semigradsky yep, that should be added for sure.

[2015-03-17 09:27] #71 closed

[2015-03-17 10:25] frostney opened #76 "Question: /src/scripts/main.js in gitignore"
More of a question than an actual issue: Why is there `/src/scripts/main.js` in the last line of the `.gitignore` for the generated app? I'm not seeing that this is file being generated or otherwise available.

[2015-03-17 10:32] newtriks commented on #76
@frostney that file is generated by webpack compiling the JS, etc https://github.com/newtriks/generator-react-webpack/blob/master/templates/common/_webpack.config.js#L13

[2015-03-17 10:32] #76 closed

[2015-03-28 14:46] andrewmcwatters opened #79 "Update to sass-loader 1.0.0"

[2015-03-29 17:33] remimarenco opened #80 "Module not found : ReactProjectApp instead of a the application name + "App""
Hi!

I just got this generator, and the ```grunt serve``` command does output an error :

```ERROR in Entry module not found: Error: Cannot resolve 'file' or 'directory' ./src/scripts/components/ReactTestApp.js in /home/remi/Dev/reactProject```

BUT, in the js file in "/src/scripts/components/" was "ReactProjectApp", so I renamed it to "ReactTestApp" as my project name is reactTest and everything

[2015-03-30 10:54] dbertella commented on #80
I just had the same exactly issue and renamed my file. Everything seems working now

[2015-03-31 10:24] vishnutk opened #81 "React.findDOMNode is undefined"
I was going through react docs and using react-webpack generator. While trying findDOMNode method, I found that React object is not having this method and thus console was showing 'undefined' error.

I tried the same with plain react application(http://jsfiddle.net/vishnudas_tekale/vv6vofaw/) and this method is available there.

'use strict';

var React = require('react/addons');
var ReactTransiti

[2015-04-02 00:42] jnwelzel commented on #81
If you want to get an element from the DOM you should use [refs](https://facebook.github.io/react/docs/more-about-refs.html). This way inside your React component you can do
[code]

[2015-04-02 05:42] vishnutk commented on #81
Yep. Thanks.

Thats another way of doing it. Ideally when react doc suggesting "findDOMNode" method, should it not be available here?

[2015-04-02 11:02] #72 closed

[2015-04-03 08:53] dperetti commented on #26
+1 for Gulp !

[2015-04-07 18:49] ameyms commented on #81
generator-react-webpack uses React 0.12. `React.findDOMNode` was [introduced](http://facebook.github.io/react/blog/2015/03/10/react-v0.13.html#new-features) in 0.13

[2015-04-08 20:59] yonatanmn opened #84 "adding fuller version of a component with a flag, and alias"
I'm thinking of adding an optional flag when using component generator, something like `--full`, that will boilerplate the most used react stages etc, that I find myself tediously writing every time.
This is even more useful when using Reflux (btw, just added a pull request with Reflux support)

It should be something like this:
[code]

**discussion**
1. I use `getInitialState` and `componentDidMo

[2015-04-08 22:10] yonatanmn opened #85 "renaming the project"
For every operation, one needs to write `yo react-webpack`, quite long I assume.
There is [no workaround](
https://github.com/yeoman/generator/issues/788) for alias name, so the only option is to rename the entire project.

`generator-react` is already taken. Can anyone think about a cool and short name?

[2015-04-10 21:09] trusktr opened #87 "Please, add JSS to the available styles."
[JSS](https://github.com/jsstyles/jss) is nice. :D

[2015-04-11 10:11] #79 closed

[2015-04-11 10:13] #52 closed

[2015-04-11 10:14] #67 closed

[2015-04-11 10:16] newtriks commented on #81
This will be addressed once #73 is completed so I will close this issue.

[2015-04-11 10:16] #81 closed

[2015-04-11 15:45] ColCh commented on #85
You can use your shell feature named **alias**

I wrote small example for you:
[code]

You can make this permanent with adding that line to your **~/.bashrc**.

[2015-04-11 15:56] newtriks commented on #85
That's the exact route I was thinking after realising this was out of scope for yeoman  👍 thanks Max

On Saturday, 11 Apr 2015 at 16:45, Max Sysoev <notifications@github.com>, wrote:

You can use your shell feature named alias

I wrote small example for you:

export yorw="yo react-webpack"

You can make this permanent with adding that line to your ~/.bashrc.

—
Reply to this email directly or view

[2015-04-12 11:16] yonatanmn commented on #85
I disagree with this solution.
First, bash is a unix thing, not everyone uses it.
Second, this is a hack, not a normal way. the all point of yeoman is make life shorter, and this long name might prevent potential users from using this generator.
lastly - webpack is one feature of this generator, but not its main core. I believe this will be the ultimate generator for react, similar to generator-an

[2015-04-13 03:40] firstdoit opened #88 "Default generated paths are broken"
Apparently the components are generated under `src/components` but every config expects them to be under `src/script/components/`.

I'll submit a PR if I find the time!

[2015-04-14 19:09] #88 closed

[2015-04-14 19:13] #68 closed

[2015-04-14 20:48] newtriks commented on #69
I am currently reviewing testing and should hopefully have some optimisations soon...

[2015-04-14 21:25] firstdoit opened #91 "Update webpack and react-hot-loader to latest versions"
Newest versions of both packages enables us to `npm link` React components and have hot reload work simultaneously in both child and parent!

I'll create a PR when I have some time.

Versions I tested with:

"webpack": "~1.8.4"
"react-hot-loader": "^1.2.5"

[2015-04-15 10:26] ColCh commented on #69
*karma-webpack* and *karma* itself are pretty slow and you can't do anything with that.

For my private project, I've replaced *karma-webpack* and *karma* with *mocha* and hacked *jsdom* into tests - thankfully, *React* works nice inside of *jsdom* environment. Tests became pretty fast now!

But, this setup is *hacky*. I don't found a way to inject *jsdom* inside of *mocha* test via `--require` *m

[2015-04-17 21:56] kox opened #94 "Build static pages with a middleware"
Hi,

I think it would be interesting to have an option to build static pages. It's one of the stronger points of React and great for SEO and, also for have some relevant content in browsers with Javascript disabled.

thanks for all

[2015-04-20 21:12] sgentile commented on #26
I'd prefer neither, to me the benefit of webpack is not having to use grunt/gulp ... why is it even needed ?

https://www.youtube.com/watch?v=VkTCL6Nqm6Y

[2015-04-20 21:30] newtriks commented on #26
@sgentile I hear ya and I pretty much cover most of my needs without Grunt or Gulp, however, there is still a goof amount of traction with those libs so an option at least should and could easily be maintained.

[2015-04-28 08:39] yonatanmn opened #95 "directory structure"
In one of the recent changes, the structure changed from:
[code]
to
[code]

If someone has started a project with earlier version, and then updated it, and now he tries to use the `component` generator, the new comp will be added to the wrong directory. The solution should have a some settings for where to save things.
Any way, that's not such a big deal. Just wanted to mention the problem

[2015-04-28 22:28] cancan101 commented on #73
Any updates on this?

[2015-04-28 22:44] cancan101 opened #96 "Duplicative Routes"
Why is this written like this:
[code]
as opposed to just:
[code]

[2015-04-30 16:32] cancan101 opened #97 "Duplicate .editorconfig"
It looks like there are two `.editorconfig`:
https://github.com/newtriks/generator-react-webpack/search?utf8=%E2%9C%93&q=indent_size

and it looks like the one with indent_size=4 is the one in use.

[2015-05-01 15:40] cancan101 opened #98 "React as Global?"
Why is `React` listed as a global [here](https://github.com/newtriks/generator-react-webpack/blob/d73699fbf27a25ed7395f8c7b71dc5f15883262f/templates/common/root/.jshintrc#L24). I assume that it should be imported / required in each file?

[2015-05-01 16:33] newtriks commented on #98
This is simply to stop `jshint` complaining about React in the global namespace.

[2015-05-01 16:33] #98 closed

[2015-05-01 16:35] newtriks commented on #97
One is for this (Yeoman) project itself and one is for the actual generated (React) application.

[2015-05-01 16:35] #97 closed

[2015-05-01 16:37] newtriks commented on #96
Most likely either an approach to an older version of react router, or I simply added a route as an example. I am not sure. If you want to make the change, test and send a pull request I will happily merge.

[2015-05-01 16:38] newtriks commented on #95
Thanks @yonatanmn, yeh small tweak and maybe a to do in the future....

[2015-05-01 16:38] #95 closed

[2015-05-01 16:40] cancan101 commented on #98
I understand what it does buy why are you expecting React to be in the global namespace?

[2015-05-01 16:44] newtriks commented on #98
Good point :P must have crept in at some point for some unknown reason. Happy to accept a pull request if you wanna contribute to the repos based on your questions raised.

[2015-05-05 14:06] weblogixx opened #99 "Use .jsx file endings for components"
It would be nice if the generator would use the correct file ending for generated components (.*jsx* instead of .js). This would have the benefit that editors (like Atom or Brackets) would be able to guess the file format correclty if they support jsx-syntax.

[2015-05-06 06:54] weblogixx commented on #99
Hi @newtriks,

thank you for your fast response. I think in this case it should at least be optional to use the .jsx (defaulting to .js).

When using CI-Tools (like SonarQube or linters like jsHint) files with jsx-syntax are not parseable and will therefore lead to errors that must be fixed in each of those various systems.

[2015-05-06 06:57] weblogixx opened #100 "Enhancement: Webpack-Config should allow Webfonts"
Hi,

another little thing that I ran into when using your (aweseome) generator: Webfonts (WOFF and WOFF2) are currently not supported by the url-loader plugin configuration.

This could be easily fixed by adjusting the webpack configuration like this:

[code]

Any chance to see this in a future release?

[2015-05-06 08:58] newtriks commented on #99
@weblogixx good point, as an option would be feasible.

[2015-05-06 09:02] newtriks commented on #100
@weblogixx done my man!

[2015-05-06 09:02] #100 closed

[2015-05-06 09:11] weblogixx commented on #100
@newtriks: Now thats a really fast response! Thank you very much :).

[2015-05-06 09:29] weblogixx commented on #100
@newtriks: There is one part missing in the unit tests (they do not accept the woff stuff in the webpack config).

[code]
Next time ill send a pull request, I swear :).

[2015-05-06 09:41] newtriks commented on #100
Done!

... promises promises :stuck_out_tongue:

![giphy](https://cloud.githubusercontent.com/assets/31971/7490888/24dc7e88-f3dc-11e4-9696-a1825d582379.gif)

[2015-05-08 12:06] semigroupoid commented on #85
Sorry, I disagree with that. Using aliases for abbreviations is not a hack, its one of their main use cases. I don't know if you use Windows (because of your "unix thing" comment) but I bet that the Windows command line tools have some way of defining aliases, too. Abbreviations and such are a very subjective thing, similar to keyboard shortcuts and as such should be handled in your terminal confi

[2015-05-09 18:00] gios opened #102 "Add Jest test framework"
Please, add support of [Jest](https://facebook.github.io/jest/). It's more compatible with React.

[2015-05-10 14:19] haf commented on #73
+1

[2015-05-11 11:31] newtriks commented on #102
@gios thanks for the comment, could you list the compatibility advantages over the current setup? Hacks like this still turn me off for using with Webpack: http://stackoverflow.com/questions/28870296/how-to-use-jest-with-webpack. If you wanna add as an additional option and send a pull request that would be appreciated > https://github.com/newtriks/generator-react-webpack/issues/27.

[2015-05-12 03:54] cheeselover opened #104 "Recommended way to add 3rd party plugins, styles, etc?"
I'm trying to add bootstrap and other 3rd party javascript and css assets into the project.  What is the best way to include them?  I tried bower but I'm not sure how to include them in the webpack build process.

[2015-05-13 09:31] weblogixx opened #106 "Use ES6-Classes for React-Components"
As stated in the release post of React v0.13 https://facebook.github.io/react/blog/2015/03/10/react-v0.13.html), React.createClass will get phased out for class usage. As the generator parses ES6 fine, it should be thought about to alter the component skeleton to the new syntax.

Curent output:
[code]

Current working output, without refactoring:
[code]

Expected new output:
[code]

There are some

[2015-05-15 12:27] weblogixx commented on #104
@cheeselover: You can require css, less or other js files just as shown in the generated components.

For example, you could include Bootstrap like this:

[code]

As far as I know the files are automatically searched for in the current directory, then in the node_modules folder where they can be found after installing them via npm.

Hope this helps

[2015-05-17 12:52] yonatanmn commented on #85
Iv'e tried with windows, so instead of `react-webpack` i'll do
`rw` but then you cannot do `rw:component`. any way - this is a hack, in the manner that the point of yeoman generators is to make your life easy and short, without adding anything around .
Webpack is not an essential part, because the user who uses this generator wants React mainly, and will be glad to have webpack (or browerify or wh

[2015-05-17 13:04] ColCh commented on #85
@yonatanmn sorry I've forgot about subgenerators. Hm.. this is a hard issue...
I'm sure that renaming the project is not a solution.

Ha! What about (npm scopes)[http://blog.npmjs.org/post/116936804365/solving-npms-hard-problem-naming-packages]? With 'em it's possible to place this generator like `@newtricks/generator-react`

[2015-05-17 13:29] yonatanmn commented on #85
The problem is with how Yeoman will read this, stating he is only looking for `generator-XXX`, any way if this is the only issue, we can use `generator-react`, since https://github.com/nemophrost/generator-react is not alive, and we can ask the owner to drop it, or alternatively think of a cool and short name

[2015-05-17 15:17] semigroupoid commented on #85
Honestly, I still don't see the point. If subgenerators don't work, use ```alias rwc="yo react-webpack:c"``` etc. Again, shell aliases are not a hack. They are primarily used for abbreviations!
In my opinion, the usage of webpack makes this generator to opinionated for a generic name such as ```generator-react```.

[2015-05-17 15:29] yonatanmn commented on #85
In windows, tried : `doskey r:c=yo react-webpack:c`, and then `r:c test`.
result:
`Error: Did not provide required argument ←[1mname←[22m!`
I think doskey can't get more code after the alias.

[2015-05-17 15:34] semigroupoid commented on #85
I don't have a Windows machine, but did you try ```doskey r:c="yo react-webpack:c"```? You probably have to wrap the actual command in quotes (you also have to do that in bash).

[2015-05-17 15:57] yonatanmn commented on #85
the correct way is what i quoted before (that's why it gave 'no name' error). Tried yours just to make sure - not working at all.
(can you verify `r:c test` works in mac?)

[2015-05-17 16:08] semigroupoid commented on #85
Yes ```r:c test``` works. First:

[code]
Then you can do:
[code]

[2015-05-17 16:10] yonatanmn commented on #85
Ok, but still no windows solution...

[2015-05-17 16:13] semigroupoid commented on #85
What about cygwin or PowerShell?

[2015-05-17 16:16] yonatanmn commented on #85
I'll check them out.
any way I still in my opinion that the project should be renamed :)

[2015-05-19 09:38] remimarenco opened #109 "Chrome React extension does not show-up with React Webpack Generator"
Hi!

Thanks for this awesome Generator, it helped me a lot ;).

I began to work on my React project a few weeks ago, and saw a [React dev tool for Chrome](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi) has been made...and I wanted to used it!

It did not work, but I guessed it was part of my personal configuration and did go deep further...
BUT

I

[2015-05-19 10:47] weblogixx commented on #109
@remimarenco Hi, this problem was solved like a month ago (see https://github.com/newtriks/generator-react-webpack/commit/715a0565c2bf726710cf4b9fb17ab01fffa90e8d). Please update the generator to the latest version and add the highlighted lines in the commit to your index.html, it should work then.

[2015-05-19 11:23] remimarenco commented on #109
Thank you! It works like a charm ;)

[2015-05-25 21:15] #109 closed

[2015-05-25 21:17] newtriks commented on #106
@weblogixx really really trying to find the time to do more here but absolutely slammed with work. I agree this is a good discussion to start get going mate thanks.

[2015-05-26 08:54] weblogixx commented on #106
@newtriks: Thanks for your feedback. I fully understand that problem (if you can call this a problem when you are a freelancer :)). If you want I could create a branch for this feature.

The question how we want this to be integrated:
- Are there any dependencies on React 0.12.x in the dependency list? Maybe we had to upgrade those too (Did so in my local project and had no problems with 0.13.x so

[2015-05-26 09:01] #99 closed

[2015-05-27 19:33] rogergl opened #111 "How to make all this work with flow ?"
It would be nice if this generator would support flow for static type checking.

[2015-05-28 10:29] #102 closed

[2015-05-30 20:50] skfd opened #112 "ESLint option?"
I installed `eslint` with `eslint-plugin-react` and works pretty good. What do you think about this option?

[2015-06-01 11:06] weblogixx commented on #69
I also think that it would be a good idea to make the unit test framework a bit more "pluggable", maybe configurable when setting up new projects?

[2015-06-02 07:34] weblogixx commented on #112
I am also interested in this. Will create a feature branch for it.

[2015-06-02 13:26] weblogixx commented on #73
@cancan101: I just added a pull request at https://github.com/newtriks/generator-react-webpack/pull/115 for updated react and react.router packages. Seems to work well for me.

[2015-06-10 15:24] MickCoelho opened #117 "Webpack default settings don't support HTML5 history API"
Might be better to get it enabled by default into the gruntfile.js
[code]

[2015-06-12 12:14] ferry77 opened #118 "error test on newly created component"
Hi,
I just generate using "yo react-webpack"
then create component using "yo react-webpack:c ArticleItem --rich"
then run "grunt test" and it produces error as below

ERROR in ./~/css-loader!./~/sass-loader?outputStyle=expanded!./src/styles/ArticleItem.sass
Module build failed:
.ArticleItem
^
      Invalid top-level expression

Could you please help? Thanks

[2015-06-19 13:03] apellizzn commented on #69
+1

[2015-06-20 19:21] IngenieroLata commented on #26
What have happened with this? I like gulp more tan grunt so could be awesome include that option

[2015-06-21 16:01] arthurvr opened #119 "Update `yeoman-generator`"
Let's update the `yeoman-generator` version the generator is on and [fix all incompatibilities](https://github.com/yeoman/generator/releases).

[2015-06-25 05:48] ezeql opened #120 "incompatible with react-bootstrap"
npm ERR! peerinvalid The package react does not satisfy its siblings' peerDepend
encies requirements!
npm ERR! peerinvalid Peer react-router@0.11.6 wants react@0.12.x
npm ERR! peerinvalid Peer react-bootstrap@0.23.5 wants react@>=0.13
npm ERR! peerinvalid Peer react-hot-loader@1.2.7 wants react@>=0.11.0

[2015-06-25 07:11] ezeql commented on #120
setting
"react-router":"^0.13.0 "
"react": "^0.13.0"
fixes it.

[2015-06-26 11:54] weblogixx commented on #120
I already have this as a pull request, but it is not merged yet...

[2015-06-27 05:05] ezeql commented on #120
@weblogixx ok, cool. Thanks.

[2015-06-27 06:46] newtriks commented on #120
Should be fixed with #115

[2015-06-27 06:46] #120 closed

[2015-06-29 21:09] epmatsw opened #121 "Grunt Build barfs on JSX"
Using the following steps generates a non-building project, which seems strange based on the documentation.

`yo react-webpack`
No router, no flux, CSS, JSX
`yo react-webpack:component Tester --rich`
Open `src/components/Bblcc3App.js` and add `var tester = require('./Tester.jsx')`.
`grunt build`

This fails with:
[code]

[2015-06-30 05:30] weblogixx commented on #121
@epmatsw: The webpack dist was not updated correctly. Thank you for reporting this error, should be fixed in no time :).

[2015-06-30 05:54] weblogixx commented on #69
With the current react release, it is possible to run tests faster by using shallow rendering (@see http://simonsmith.io/unit-testing-react-components-without-a-dom/). This goes without using jsdom.

I will try to find out if this is a suitable change for the generator and provide a feature branch for it soon.
Would be nice if we could have fast tests :).

[2015-06-30 06:00] weblogixx commented on #118
@ferry77: Could you please tell me which version of the Generator you are using? I cannot recreate it.

[2015-06-30 10:33] ferry77 commented on #118
@weblogixx i use generator-react-webpack@1.2.8

[2015-06-30 10:34] #121 closed

[2015-06-30 14:45] epmatsw commented on #121
Wow! Thanks for the quick fix, was not expecting such a fast turnaround.

[2015-06-30 14:46] newtriks commented on #118
@ferry77 could you try using the latest version (currently 1.2.10) and see if it's still reproducable?

[2015-07-01 08:09] weblogixx commented on #112
@skfd: This is on board as default now with the current version.
Think the issue can be closed.

[2015-07-03 04:14] angelathewebdev opened #124 "Inserting static JavaScript file"
I need to load Modernizr file into the page. Should I place it in index.html? What should the file path be?

[2015-07-08 06:30] bsodmike commented on #118
Hey @newtriks I just tried this today with `generator-react-webpack@1.2.11` and still getting that error on running tests,

[code]

[2015-07-08 18:09] renanvalentin commented on #69
Hey guys,

Using this settings for karma make the tests pretty fast:
https://github.com/webpack/karma-webpack#alternative-usage

Thanks!

[2015-07-08 18:09] #69 closed

[2015-07-15 07:43] kidyfirst opened #125 "generator-react-webpack don't support to build the 3th component based reactjs"
In my project, i used an other team's reactjs components in my components, but when i build project, it throw

ERROR in ./~/mad-ui-richinput/src/components/RichInput.js
Module parse failed: F:\src\tencentGit\react-demo\node_modules\mad-ui-richinput\src\components\RichInput.js Line 87: Unexpected token <
You may need an appropriate loader to handle this file type.
|         var className = "richinp

[2015-07-15 17:25] andrewliebchen commented on #52
:+1: This was a great help. Not sure why hot reload only works at the Webpack dev server URL out of the box. Would prefer to hit the bare url to have hot reloading.

[2015-07-17 12:05] Saajan opened #126 "Peer Dependencies are Being Deprecated"
Its already showing warning while installing .. npm@3 beta is released and it doesnt support Peer Dependencies

[2015-07-18 00:53] skfd opened #127 "Upgrade strategy: How do I upgrade generated project?"
I've updated generator it self and would like to update project. Is there a way to do it?

Assuming I have source control and OK to rollback is something goes south.

[2015-07-18 11:53] newtriks commented on #127
If I understand you correctlt, feel free to fork this repos, make the necessary updates and send a pull request @skfd.

[2015-07-22 04:19] lcjnil opened #128 "Add redux support"
[Redux](https://github.com/gaearon/redux) seems to be a better Flux implement, hope you could add it.

[2015-07-22 07:22] newtriks commented on #128
I'm unsure about this, @lcjnil I regret merging in Flux in the first place to be honest it should have been a seperate generator completely.

[2015-07-22 07:24] newtriks opened #129 "Looking for contributers"
I've been pretty busy for a while now and unable to dedicate as much time to this generator as I would like (or is needed). If anyone is interested in help contribute please email me simon at newtriks dot com.

[2015-07-22 07:34] newtriks opened #130 "Remove Flux, Reflux, etc from generator"
The generator has gained much more traction than I would have invisaged and to maintain it better I need to remove complexity and additional potentially unnecessary functionality.

A while back I merged in a pull request that introduced Flux and Reflux. Although the input was appreciated it has increased the overall scope of this generator, has confusing directory naming conventions (*a*, *c*, *s*

[2015-07-22 07:42] newtriks commented on #124
@angelathewebdev you could...or as the generator uses grunt you could also use https://www.npmjs.com/package/grunt-modernizr

[2015-07-22 07:43] #124 closed

[2015-07-22 07:44] newtriks commented on #119
Great idea @arthurvr, wanna send me a pull request for this?

[2015-07-22 07:44] #112 closed

[2015-07-22 07:47] weblogixx commented on #129
@newtriks: Sorry mate, was on vacation and could not answer your last mail. I would be very happy to help you out as a contributor. I also have some plans that I am investigating in currently:

- ES2015 support for generated components (Unit-Tests have this support since the last release)
- Reduction of Flux-Frameworks (have to think about how we could implement this on a module base)
- Overall re

[2015-07-22 07:50] newtriks commented on #129
@weblogixx absolutely no problem mate. In regards to your comments see https://github.com/newtriks/generator-react-webpack/issues/130, I'm mulling of potential approaches for this...

[2015-07-22 07:51] #128 closed

[2015-07-22 08:02] weblogixx commented on #129
Maybe composeability would be an option? (Never tried it myself). https://github.com/yeoman/yeoman.io/blob/master/app/authoring/composability.md

[2015-07-22 08:04] newtriks commented on #129
@weblogixx gonna move this conversation over to https://github.com/newtriks/generator-react-webpack/issues/130 :+1:

[2015-07-22 08:07] newtriks commented on #130
@weblogixx in regards to your suggestion https://github.com/newtriks/generator-react-webpack/issues/129#issuecomment-123608007 that looks great. My suggested plan of attack is to:

1. Strip back the generator to the original bare bones of functionality.
2. Update all packages both in templates and generator.
3. Fix existing issues related to core generated project.
4. Optimise for ES2015, etc.
5.

[2015-07-22 08:18] weblogixx commented on #130
@newtriks Sounds good to me. So, first step would be to remove the flux stuff. What do you think about putting those changes in its own branch so we can still supply bugfixes for the current version in the trunk? Just added a new "slimdown" branch on my fork where i will remove flux and all of its traces.

[2015-07-22 08:26] newtriks commented on #130
@weblogixx done: https://github.com/newtriks/generator-react-webpack/tree/v1

[2015-07-22 23:23] kswope commented on #16
:+1: to more convention, less configuration

[2015-07-23 07:12] weblogixx commented on #128
@lcjnil We are currently in a phase of refactoring. We will remove all flux options from the base of the generator. This does __not__ mean that flux will disappear forever here. We will add back support via yeoman compositions (as seen at https://github.com/newtriks/generator-react-webpack/issues/130)

[2015-07-23 08:10] lcjnil commented on #128
@weblogixx great thanks for your news, and it's a good idea. I hope I could do some help if possible :)

[2015-07-24 09:35] weblogixx commented on #119
@arthurvr This change was done yesterday in our attempt to update the generator. It will be available when the new, slimmed down version can be used as a base for new stable release. Unfortunately, this will take some time.

If you depend on new features in the generator (for whatever reason), you could use my last pull request as a base to include it. Please see https://github.com/weblogixx/gener

[2015-07-24 09:35] #119 closed

[2015-07-24 09:38] arthurvr commented on #119
Thanks! :)

[2015-07-24 09:38] #104 closed

[2015-07-24 09:50] weblogixx commented on #91
@firstdoit Webpack was updated to 1.10.x some time ago, the hot loader update will be in the next release (I dont think we need a patch right now because the new version does not differ that much from the currently used one).

Therefore, I will close this request (was lying around long enough I think ;)).

[2015-07-24 09:50] #91 closed

[2015-07-24 09:57] weblogixx commented on #73
Update is available since a couple of releases. Closing this issue.

[2015-07-24 09:57] #73 closed

[2015-07-24 09:58] weblogixx commented on #84
Seems to be integrated for quite a time. Closing this.

[2015-07-24 09:58] #84 closed

[2015-07-27 07:17] weblogixx commented on #117
@MickCoelho As I dont know this options value: What would be the benefit of enabling it per default? If there is one I will happily add the option.

[2015-07-27 09:51] weblogixx commented on #106
Available as a preview in **v1** branch.

[2015-07-27 09:51] #106 closed

[2015-07-28 10:05] MickCoelho commented on #117
Bit of an old one, so I'm not sure anymore ^_^
I guess enabling that by default will allow you to refresh the page on a specific route without having a 404. React does get the right route when you update the url, but if you refresh the page, the server won't display it (unless you set that value to `true`).

No big deal though, but it might be useful to set it to `true` by default :)

[2015-08-07 08:40] weblogixx commented on #117
@MickCoelho: Seems good, will be included in one of the next releases.

[2015-08-07 09:02] weblogixx commented on #130
@newtriks: I think I have a good working version done in v1. Mind to take a look and tell me if you find something you dont like? We then should plan how to migrate to the new version (should then be 2.0 because breaking changes?)

[2015-08-10 08:59] newtriks commented on #130
@weblogixx awesome work mate thank you! My thoughts so far are:

1. Not sure what [this](https://github.com/newtriks/generator-react-webpack/tree/v1/c) is about as the directory naming of simply `c` is unclear?
2. I think we could get rid of Grunt completely also and have that as a sub-generator. We could have all the necessary logic for running webpack etc using npm scripts in the [package.json](

[2015-08-11 08:34] weblogixx commented on #130
Hi,

gonna look for this stuff in a couple of days. I think tge "c" directory is a nice shortcut as it allows to use yo react-webpack:c newcomponent, saves a view keystrokes.

[2015-08-11 10:27] MickCoelho commented on #117
Nice one!

[2015-08-11 19:43] newtriks commented on #130
I will try also to dive in if I get a chance

[2015-08-17 12:23] artdaw opened #139 "Tests run: Can not load "webpack""
I just generated a new project and tried to run tests:

WARN [preprocess]: Can not load "webpack"!
  TypeError: undefined is not a function
    at Plugin.notifyKarmaAboutChanges (/Users/gleb/work/TTT/node_modules/karma-webpack/index.js:108:15)
    at Plugin.<anonymous> (/Users/gleb/work/TTT/node_modules/karma-webpack/index.js:72:9)
    at Tapable.applyPlugins (/Users/gleb/work/TTT/node_modules/web

[2015-08-18 10:48] HelloYie opened #140 "Unexpected console statement no-console"
Cant not use console.log( ) ? How can i debug the code ?

[2015-08-18 21:54] highlabs opened #141 ""cannot get /" error with react-router"
Hi! :)

I started a new project today, and when I tried to create routes like this:
[code]

Return "cannot get /profile" error when I access the URL. But DefaultRoute works fine (even when I change {Home} do {Profile}).
What I'm doing wrong? :(

Edit:
It's maybe related to this https://github.com/newtriks/generator-react-webpack/issues/117

I added 'historyApiFallback: true' line in gruntfile.js.

[2015-08-20 00:25] #140 closed

[2015-08-22 09:36] busla opened #142 "0:0 error Cannot find module '../scope'"
Node: v0.12.7

I get this error on `grunt serve`:

[code]

[2015-08-24 20:32] weblogixx commented on #125
It should work well in any case. Which version are you using? Also, what plugin are you trying to include? Can you please show the complete code of your example? Thank you.

[2015-08-24 20:35] weblogixx commented on #141
Do you have Html5 History support enabled in your router? If not, the url should be something like /#/profile. You can try it if you just include a <Link to="/profile">Test</Link> to one of your components. The url is different when this is not configured.

[2015-08-24 20:37] weblogixx commented on #142
Could it be possible that there is a path error in your module? Seems like it is unable to find the module scope.js. Could you please post some example code?

[2015-08-24 20:38] weblogixx commented on #139
Which version of the generator are you using? I dont get any errors with a fresh install.

[2015-08-24 21:10] busla commented on #142
I got pretty sceptical when most of my Yeoman generators were returning some weird package errors.

It ended up being an empty package.json in ~/ folder that was messing everything up :-)

Just cloned your repo right now to be sure and it works fine.

Thanks for the response.

[2015-08-24 21:10] #142 closed

[2015-08-25 00:06] bishtawi commented on #139
I am getting the same error. I think one (or more) of the dev dependency libraries is getting updated (minor rev update I guess) and its breaking the build process.

[2015-08-25 04:53] kidyfirst commented on #125
the issue can be reproduced when i use the http://instructure-react.github.io/react-menu/ in my project by  var Menu = require('react-menu') ,  it because the module including JSX, and webpack don't compile the node_modules folder.

i must to add follow configuration, my version 1.10.1

var loader_include = [
  path.resolve(__dirname, 'node_modules','react-menu')
};

{
 test: /\.(js|jsx)$/,
 inclu

[2015-08-31 09:35] weblogixx commented on #130
@newtriks: I recently played around with webpack and react, as well as a little unit testing (not finished at the moment). You can see it at https://github.com/weblogixx/react-webpack-template. All scripts use npm as runner, so there is no more grunt/gulp/whatever involved.

I still use karma as a unit runner, because it allows you to test events and other stuff. Even if it is slow, I think it is

[2015-08-31 10:00] newtriks commented on #130
Hey @weblogixx, thanks for this mate. I agree that Karma although slow is still maybe the better option. I started playing with some testing basics [here](https://github.com/eggheadio/egghead-react-unit-testing/blob/master/test/ArtistSpec.js). There are also some inspiration to be gained from [this](https://github.com/gaearon/react-dnd) codebase I think.

[2015-08-31 23:52] stylesuxx commented on #139
Had the same error, in my case it was karma-webpack at version 1.7.0, downgraded to 1.6.0 and tests run.

[2015-09-02 20:53] CNBorn commented on #139
thanks @stylesuxx https://github.com/webpack/karma-webpack/commit/29fb1d801158f29cb0eb784edff69356705a7b74#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R17 karma-webpack 1.7.0 requires karma >=0.13.2 but karma installed by this generator is 0.12.21

[2015-09-17 11:31] weblogixx commented on #130
Hi @newtriks, I got the next version ready. It only includes the basic react component creation (as usually with Stylesheet and Testsupport. You can test it at https://github.com/weblogixx/generator-react-webpack/tree/rewrite. It uses react-webpack-template as source of the project generation process, so version updates and stuff like that can be done without altering the generator code.

I also w

[2015-09-17 11:33] weblogixx commented on #130
@newtriks: Info: The new generator will only work on node >= 4.0.0. I used arrow functions and stuff like that to create it.

[2015-09-17 13:34] newtriks commented on #130
@weblogixx mate, this is amazing work thank you so much! The past three months for me have been consumed with so many things I have been unable to look at this generator, so your work is gratefully appreciated.

Once reviewed and deployed I suggest we maybe propose this generator to the https://github.com/rackt organisation? I don't know how they review potential repos but maybe @ryanflorence coul

[2015-09-17 13:53] weblogixx commented on #130
@newtriks: That would be really nice. There are some things missing currently (as the new readme and stuff), but that should be there in no time. Unit tests for react-webpack:component are there since the last commit, too :)

[2015-09-21 14:26] weblogixx commented on #130
@newtriks: Seems like it works with composing, I still have to include support for creating new components but the rest seems to fit quite well. Please have a look at https://github.com/weblogixx/generator-react-webpack-alt for a running configuration.

Did you have time for a look at the new source already? I would like to roll out 2.0 as fast as possible (because the number of requests for 1.0 a

[2015-09-21 17:53] weblogixx commented on #126
@saajan: We are aware of this problem. We have created a new version of the generator (starting at 2.0) that will be released in a couple of hours. This version does not use the currents underlyings and does also not use peerDependencies anymore. However because we will phase out the Version 1 of the generator, I think we wont need to fix it in this version.

If you (or other persons) need this fi

[2015-09-21 17:53] #126 closed

[2015-09-21 17:58] weblogixx commented on #139
Could you try it again with 1.2.13? Just tried it, after the inclusion of https://github.com/newtriks/generator-react-webpack/pull/145 I dont see such errors anymore.

[2015-09-21 17:59] #127 closed

[2015-09-21 18:00] weblogixx commented on #141
Nothing new in 1 month. Closing this for now. If you still have an error with this, please feel free to open another issue.

[2015-09-21 18:04] weblogixx commented on #125
I fully understand your problem. Unfortunately, when using webpack there is kind of a tradeoff between speed (not including node_modules) and compatibility (including it). Currently we do not include it because it runs much faster then.

Maybe we could make this configurable in a later version if more users want to use it like this.

[2015-09-21 18:04] #125 closed

[2015-09-21 18:06] weblogixx commented on #96
I think this was to make nested rules possible and easier to do something like this:

[code]

[2015-09-21 18:06] #96 closed

[2015-09-21 18:07] weblogixx commented on #31
The new version of the generator was updated to include a fix for this issue. However I do not think that we need to port it back to the 1.0 version.

[2015-09-21 18:07] #31 closed

[2015-09-21 18:08] #85 closed

[2015-09-21 18:08] #80 closed

[2015-09-21 18:09] weblogixx commented on #26
We have opted to remove task runners altogether in the next major release, because everything the generator does can also be done via npm scripts.

[2015-09-21 18:09] #26 closed

[2015-09-21 18:11] weblogixx commented on #27
Could be included in the new major version if wanted.

[2015-09-21 18:11] #27 closed

[2015-09-25 10:50] muraveill commented on #141
I have the same issue and I don't really understand your answer. When defining a new Route that has a path different from '/', say '/login',
- the URL "..../login" returns "cannot get /login"
- the URL "..../#/login" renders the main page instead (same content as '/', without redirection).
I know it is related to using HistoryLocation versus HashLocation in the react-router config, but I did not m

[2015-09-25 12:11] weblogixx commented on #141
@muraveill:

A simple example (that is currently working for me) could be:

[code]

Then, in my FrontendApp.js (the "main" component) I got something like this:
[code]

Help Page is just:
[code]

Basically you will need to use the RouteHandler Component (provided by React.Router) in your Main Component. Then Content that is drawn by the router will get rendered as content into this RouteHandler Co

[2015-09-25 12:15] muraveill commented on #141
That was it. Adding `<RouteHandler />` in RouterTestApp solved it. This line should probably be generated by default, then. Thanks !

[2015-09-25 13:57] weblogixx commented on #141
Glad I could help you :-). In the new, hopefully soon to be released version, react.router will not be a part of this software anymore. There will be type of plugins for it.

[2015-09-25 13:58] #141 closed

[2015-10-01 05:38] james4388 opened #147 "npm script is gone"
I cannot use `npm start` anymore only `grunt serve` work, any idea?

[2015-10-01 06:55] weblogixx commented on #147
@james4388: Hi James, could you please tell me which version of the generator you are using? In Versions before 2.0, there is no npm start command in generator-react-webpack. This is only available in 2.x.x.

Offtopic:
@newtriks: I just checked and it seems that the package is not updated on npm. Could you please run a npm publish so the new version can be downloaded? Thanks.

[2015-10-01 08:23] newtriks commented on #147
Done

On Thursday, 1 Oct 2015 at 07:55, Chris <notifications@github.com>, wrote:

@james4388: Hi James, could you please tell me which version of the generator you are using? In Versions before 2.0, there is no npm start command in generator-react-webpack. This is only available in 2.x.x.

Offtopic:
@newtriks: I just checked and it seems that the package is not updated on npm. Could you please run

[2015-10-01 09:07] weblogixx commented on #130
As Version 2 is out now, this feature can now be closed.

[2015-10-01 09:07] #130 closed

[2015-10-01 09:08] #117 closed

[2015-10-02 09:41] weblogixx commented on #139
No feedback since a month. Closing this for now. Please feel free to reopen this issue if the problem still occurs. Otherwise, you could try to use the new version of the generator, which comes with karma-webpack 1.7.x and karma 0.13.9

[2015-10-02 09:41] #139 closed

[2015-10-02 09:46] weblogixx commented on #111
@rogergl: I dont think this is a feature for the core generator. We would like to keep it as simple and slim as possible.

It should be easily implementable in your setup. Have a look into https://www.npmjs.com/package/flowcheck-loader.

[2015-10-02 09:46] #111 closed

[2015-10-06 02:59] thanzen opened #148 "Could not create app"
When I ran the command, I got the error below:

C:\Users\user\AppData\Roaming\npm\node_modules\generator-react-webpack\generators\app\index.js:2
let generator = require('yeoman-generator');
^^^
SyntaxError: Unexpected strict mode reserved word
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Modul

[2015-10-06 05:10] weblogixx commented on #148
Hi @thanzen:
you seem to run an older version of node.js. The generator is compatible with node version 4 and upwards.

[2015-10-06 05:22] thanzen commented on #148
That is. After upgraded node to latest version, everything just works fine.
Thanks @weblogixx

[2015-10-06 05:22] #148 closed

[2015-10-09 06:38] romanrdgz opened #149 "Error executing 'yo react-webpack' -> Unexpected sctrict mode reserved word"
I'm new to JS and React, and I'm trying to start with your generator in a Koding VM. I just installed nodejs and npm with ubuntu's apt-get, and then installed yo, grunt-cli, karma and react-webpack from npm just as you suggest in your blog post http://newtriks.com/2013/12/31/automating-react-with-yeoman-and-grunt/

Then, when I execute the command:
    $ yo react-webpack

I get the following:
/usr

[2015-10-09 08:38] nepalez commented on #149
+1
Exactly the same problem

[2015-10-09 11:18] weblogixx commented on #149
Hi,

seems like the version of node.js you are using is too old. You have to use a version of greater than 4.0 to run the generator. Older node versions (like 0.12) are not going to work because it is built using ES2015. If updating is not an option for you, you could try to use the --harmony flags of node 0.12. However, I have not tried that yet.

The engine is also specified in package.json, so

[2015-10-09 11:29] nepalez commented on #149
@weblogixx Thank you, Chris for clearing that.
Yes, I have to use `nodejs-legacy` to fix `this problem](http://blog.legacyteam.info/2014/12/getting-yeoman-work-ubuntu/) under `ubuntu 14.04`.

[2015-10-09 11:44] romanrdgz commented on #149
Using nodejs-legacy didn't worked out for the Ubuntu version being used in Koding virtual machines. I also tried adding ppa:chris-lea/node.js repository and go with nodejs after an apt-get update to achieve it. The result is the same error.

The strange thing is that nodejs -v reports 0.10.37 yet, even with the PPA. I'll try to update in a different way nodejs to solve it

[2015-10-09 11:46] weblogixx commented on #149
@nepalez: Debian and Ubuntus versions of node are always quite old, even in unstable/testing Debian versions. A more simple way to use it would be nvm (https://github.com/creationix/nvm) which gives you the possibility to use multiple node versions on the same machine. You can always switch or set the default with it, so node updates get a lot easier (at least unter unix based systems, on Windows

[2015-10-09 11:51] romanrdgz commented on #149
new attempt:
    $ wget -qO- https://deb.nodesource.com/setup_4.x | sudo bash -
    $ sudo apt-get install nodejs
    $ nodejs -v
    -> 4.1.2
    $ npm -v
    -> 1.4.3

The error is still happening though

[2015-10-09 12:05] weblogixx commented on #149
I cannot see any errors happening with any version from 4.0.0 onwards (just tested it on all available ones). Still seems like an installation error. Would you mind installing via nvm? It wont set the default version if it is not explicitly told to do so.

Just install via `wget -qO- https://raw.githubusercontent.com/creationix/nvm/v0.29.0/install.sh | bash`, install a new node version (via nvm in

[2015-10-10 22:11] nepalez commented on #149
@weblogixx Thank you. I've installed nvm and it just works :)

[2015-10-11 09:13] weblogixx commented on #149
@nepalez: You are welcome. Glad I could help.

[2015-10-11 09:13] #149 closed

[2015-10-12 08:35] original001 opened #151 "error when i try to install"
$ yo react-webpack
let generator = require('yeoman-generator');
^^^
SyntaxError: Unexpected strict mode reserved word
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Module.require (module.js:365:17)
    at requ

[2015-10-12 08:46] weblogixx commented on #151
@original001: The generator is built using es2015, you will need at least node version 4.0.0 to use it. This should also be visible as a warning when trying to install the package.

[2015-10-12 10:29] original001 commented on #151
update nodejs, and It's work! Thanks

[2015-10-12 10:30] #151 closed

[2015-10-15 15:21] CezarLuiz0 opened #153 "Autoprefixer support?"
There is already support?

[2015-10-15 20:10] weblogixx commented on #153
Hi @CezarLuiz0,

it is currently not planned to add autoprefixr support. We want to stay as "bare bone" as possible with this generator. In fact, it should not be too hard to include it. Just include https://github.com/passy/autoprefixer-loader into your project and adjust the basic webpack configuration (in the cfg folder) for css files like this:

[code]

This should add autoprefixr support for

[2015-10-17 11:47] sthzg opened #154 "Providing application configuration based on --env variable"
What do you think about providing modules for environment-based application configuration out of the box?

As a first approach I set the `NODE_ENV` to the `env` variable that gets set in `webpack.config.js`:

[code]

Then I updated `cfg/base.js` with an alias for `config`:

[code]
Now it is possible to `import config from 'config';` and whatever is exported from `src/config/<env>.js` will be avail

[2015-10-19 06:14] weblogixx commented on #154
Hi @sthzg, seems like an interesting idea.
If you want please pull it to https://github.com/weblogixx/react-webpack-template, because thats where the configs are getting created.

Thanks!

[2015-10-19 22:38] sthzg commented on #154
@weblogixx thanks for your reply and the guidance to the correct repo. I've added an issue and a first draft there, so I guess the issue here could be closed.

[2015-10-20 05:22] weblogixx commented on #154
@sthzg: You are welcome :).

[2015-10-20 05:22] #154 closed

[2015-10-20 05:38] weblogixx commented on #118
This error seems to have to do with the automatically generated classNames. It is no longer there in version 2.0 and above. As we do not plan to support the older 1.x branch anymore, I will close this for now.

[2015-10-20 05:38] #118 closed

[2015-10-20 05:40] weblogixx commented on #94
This is currently out of scope for the generator as it would imply we needed to build a backend toolchain, too. Maybe this would be a feature for a new generator-react-webpack-backend generator?

[2015-10-20 05:40] #94 closed

[2015-10-20 05:41] weblogixx commented on #87
As we would like to keep the generator small, I would not add it currently. Maybe if there are some more requests for it?

[2015-10-20 05:41] #87 closed

[2015-10-20 05:43] weblogixx commented on #13
As statet in https://github.com/newtriks/generator-react-webpack/issues/94, there are currently no plans to create a backend for isomorphic apps in this generator. However, it would be possible to create a new one that inherits generator-react-webpacks features. I will investigate in how hard something like this would be.

[2015-10-20 05:43] #13 closed

[2015-10-20 05:44] weblogixx commented on #129
Think this can be closed for now :)

[2015-10-20 05:44] #129 closed

[2015-10-21 08:57] pavelbinar opened #155 "Running yo react-webpack SyntaxError"
Error
[code]

System Information

[code]
OS X EL Capitan (10.11)

[2015-10-21 22:32] weblogixx commented on #155
@pavelbinar: This is a known issue. The generator needs at least node Version 4.0. It should also display this when you try to install it.

Please update your version of node to a current one (4.0.0 or higher) to use the generator.

[2015-10-21 22:32] #153 closed

[2015-10-21 22:33] weblogixx commented on #147
Closing this as there was no feedback for 20 days. If the problem still persists, please just open a new ticket. Thank you!

[2015-10-21 22:33] #147 closed

[2015-10-22 11:18] sthzg opened #156 "Question/Doc request: smaller level of composition?"
First: thanks to all contributers for this generator. I've been using it for quite some time now and it is still my favorite boilerplate for react development.

I see why support for various technologies got dropped and am trying to understand the ways to "compose own features into the generator". I was looking at the yeoman docs and the implementation in [generator-react-webpack-alt](https://gith

[2015-10-22 17:08] weblogixx commented on #156
@sthzg: First thank you for your last contributions. I enjoy them very much. I think I am able to elaborate how this whole thing came to life and why it is done the way it is currently. Maybe this will answer some questions.

As I was starting out with React and Webpack, there where simply not that much useable projects to get you going. The one project that I found and that was worth a deeper loo

[2015-10-23 15:15] sthzg commented on #156
Thanks for your reply! Makes perfect sense. Like you said there are quite a few flux-implementations, all of them moving constantly and on top of it Facebook's Relay project that also influences the role of flux. Not to mention the choice of developing with or without flow. So yes, supporting that all in one monolithic generator wouldn't be possible.

I continued searching a bit for the second app

[2015-10-24 18:32] be-codified opened #157 "Including bower components"
Hi,

how can I include bower components? They should be located in root.

Should I include them in index.html or in Main.js? I think I am having problem accessing bower components folder because it is parent of src folder.

Thank you in advance.

[2015-10-25 21:57] camjc opened #158 "Coverage report"
Being able to see code coverage is a minimum requirement for many projects, and since this generator sets up testing for you it would be great if it would give you a coverage report too.

[2015-10-26 03:26] camjc commented on #158
I managed to set it up in my project in this PR https://github.com/Adslot/alexandria/pull/9/files

Haven't been able to get it to output the ES2015 code in the coverage html though.

[2015-10-26 06:35] weblogixx commented on #157
Hi @be-codified, I will look into this and update the Generator with this feature. In the mean time, you could look if the given module you want to include is not also available via the npm registry.

[2015-10-26 06:37] weblogixx commented on #158
@camjc: Yes, currently the support is missing. Did not even think about it :(. Thanks for the request, will add it in one of the later versions of the generator.

[2015-10-27 00:44] camjc opened #159 "'use strict'"
Is `use strict` necessary or not? Looks like some modules have it and some don't. Wondering what the difference is here and if we can standardize on one or the other.

[2015-10-27 02:21] camjc commented on #159
Looks like babel writes use strict for us https://babeljs.io/docs/advanced/transformers/other/strict/
So we can remove it from the generators right?

[2015-10-27 07:51] weblogixx commented on #157
Hi @be-codified,

I just updated the generator to include support for bower. I tested it with:

[code]

Newly generated projects should now have bower support. If you want to include it in already set up projects, just add the adjustments from https://github.com/weblogixx/react-webpack-template/commit/827dd86a3cd2fc52d2918a84bd2e416b92e05320.

Hope this helps :)

[2015-10-27 07:57] weblogixx commented on #159
Hi @camjc,

strictly speaking, it should not be possible.
However I have the hope that in some time from now we will only need babel from jsx transpilation and not to make our  ES2015 based projects backward compatible.

Therefore I opted to always include it. If you are using linting in editors (like atom esLint) it is also better to have it integrated because the linter does not know use strict

[2015-10-27 11:33] be-codified commented on #157
Hi @weblogixx,

thank you :)

[2015-10-27 12:07] weblogixx commented on #157
You are welcome :)

[2015-10-27 12:07] #157 closed

[2015-10-28 09:37] sthzg commented on #156
@weblogixx if you are okay with it I vote for closing this as an issue, as there are not any actions implied and the initial question is answered. As also the devs from Yeoman have clarified that the "user initiated composition" is a planned feature (and nothing related to it is included in the code by now) there doesn't seem to be an official and elegant way to compose on a smaller scale.

[2015-10-28 11:58] weblogixx commented on #156
@sthzg: I am watching your growing repo. Seems nice so far. But yes, I really would like to wait for something "official" from the Yeoman-guys before implementing something like this. I will keep an eye on it (and on your repo, too).

[2015-10-28 11:58] #156 closed

[2015-10-28 12:00] weblogixx commented on #158
@camjs: Support is now integrated with the release of react-webpack-template 0.3.2. Please update the generator so it can fetch the new version. New projects should then always include coverage reports. Thanks again for the hint :)

[2015-10-28 12:00] #158 closed

[2015-10-28 12:01] #155 closed

[2015-11-01 21:56] rcholic opened #160 "black screen when running 'npm run serve""
I created a react-webpack project using this generator, however, after I run `npm run dist` and `npm run serve` in the terminal, I see the following line with a black screen underneath it in the browser. What might be going wrong? or how to build and run this project?

`App hot update.`
|----------------------
|  BLACK            |
|  screen             |
______________

[2015-11-02 06:26] weblogixx commented on #160
Hi @rcholic,

could you provide me with a little more information?

- OS (and Version)
- Where did you run the command from (cmd.exe or PowerShell on Windows, Bash on Linux/OSX)
- What are your node and npm versions?
- which version of the generator do you have installed (npm ls -g)?
- Is it a new project or did you already add components or other stuff?
- What Browser do you get the error in?

[2015-11-03 16:06] #160 closed

[2015-11-03 16:09] rcholic opened #161 "@datasource decorator"
I am trying to create a Todos example app using the generator-react-webpack from. Everything works until I started using alt for the flux pattern. When I run the project using `npm run`, I got the following error:

`    TodoStore.js: Unexpected token (12:0)
      10 | import _ from 'lodash';
      11 |
      12 | @datasource(CategorySource)
`

**It complains about the line 12 above for the @dataso

[2015-11-03 21:08] #161 closed

[2015-11-04 00:57] camjc commented on #159
Cheers. Closing.

[2015-11-04 00:57] #159 closed

[2015-11-07 20:59] stylesuxx opened #162 "CSS Modules"
Hey guys,
first of all a big **thank you** for your hard work on this really awesome generator.
Have been experimenting with/using it quite a lot lately.

Last week I fell in love with [CSS Modules](https://github.com/css-modules/css-modules) and added them to my template generated by your generator and was wondering if this is something worth giving back...

In case you want this functionality ad

[2015-11-08 16:31] stylesuxx opened #163 "Postcss"
I hope I do not annoy you with my CSS related requests.

I was wondering what you think about adding [postcss](https://github.com/postcss/postcss) support?
They have a massive amount of different plugins to post process your CSS and thus make your life easier - I especially like [postcss-grid](https://github.com/andyjansson/postcss-grid) and [postcss-autoprefixer](https://github.com/postcss/autopr

[2015-11-09 09:18] weblogixx commented on #162
Hi @stylesuxx,

I will have a look at it. For a rule of thumb: If it just is the basic integration (like with sass and less) we could ship it without problems. However, I do not want to integrate the whole toolchain, because we want this generator as slim as possible.

If that sounds ok for you, just open a PR and I will add it when I have some spare time. It could take until end of this week beca

[2015-11-09 09:20] weblogixx commented on #163
Hi @stylesuxx,

no, you dont annoy me :). In fact, I am happy for your contributions. As stated in https://github.com/newtriks/generator-react-webpack/issues/162, I would provide the basics for postcss, but wont alter the generator to include the wanted plugins. People would have a chance to use it and include plugins if they need them. I dont want to add too much functionality in the base generat

[2015-11-09 12:04] stylesuxx commented on #162
Hey @weblogixx, sounds good to me.
For CSS Modules to work properly there need to be some major changes in how the CSS is used. Instead of requiring the CSS it is imported, also the CSS classes need to be set in a slightly different way. On the other hand it sits on top of sass/less/...

The changes for #163, in the way you suggest, would only be a minor change - one additional prompt, one additio

[2015-11-13 00:18] jemminger opened #164 "Deep module directories don't work as expected"
Given this directory tree:

    components
      foo
        index.js
        bar
          index.js

Using babel es6, I would like to do this:

    import Foo from "./components/foo"
    import Bar from "./components/foo/bar"

But it errors with `Module build failed: Error: ENOENT: no such file or directory, open '/Users/jemminger/Development/whatever/components/foo/bar.js'`

The only way I can g

[2015-11-13 15:33] yakirn opened #165 "How do I configure tests to run in babel stage=0"
I've modified cfg/dev.js to support stage 0 features of babel:
[code]
then I added a stage 0 feature such as class properties to src/components.Main.js
[code]
https://github.com/jeffmo/es-class-static-properties-and-fields

hit npm start, and everything works fine.

I've noticed  cfg/test.js has two babel loaders (the second is for test coverage?)
I tried to add stage=0 for the first one and for b

[2015-11-13 21:59] sthzg commented on #165
@yakirn fwiw,there is a related issue targeting the update from babel 5 to 6 in the repository that features the template used in this generator. not sure if they are related, but it might be interesting either way weblogixx/react-webpack-template/issues/11.

[2015-11-16 06:41] weblogixx commented on #165
Hi @yakirn,

currently we are still using babel 5, so there may be some stuff that is currently not working.
I currently wait for https://github.com/deepsweet/isparta-loader to update the isparta dependency for coverage reports. If the update is done, it should work as intended.

[2015-11-16 06:53] weblogixx commented on #164
@jemminger: Just looked at this and I do not have this problem with the current version of the generator. What I did:

- Creating a new project with generator-react-webpack
- Creating two new components (yo react-webpack:component foo/index and foo/bar/index)
- Renaming both components (because the filename would be IndeComponent.js instead of index.js)
- Adding both to src/components/Main.js with

[2015-11-16 07:46] yakirn commented on #165
@weblogixx @sthzg Thank you for your answers.
So, if I understand correctly, isparta-loader is just about code coverage?
if removing isparta will make my tests work without coverage, it is good enough for me, at least until a real fix/update will be available. can you instruct me on how to do this?
Thanks again

[2015-11-16 07:51] weblogixx commented on #165
@yakirn,

yes, it should work when you disable the isparta-loading and update to babel 6. I have all parts ready but unfortunately still have to wait for isparta-loader to be updated. If this is not happening in the nearer future, I will have to disable it (or fork the project, the change that needs to be done is just updating the package.json).

[2015-11-16 17:18] jemminger commented on #164
@weblogixx Generator v 2.2.7, node v5.0.0

Was going to post the following (below), but in writing this all out and starting the project up again, it's working like it should :/  Perhaps something got corrupted last time and restarting webpack-dev-server fixed it?  I'll chalk it up to me being a noob

The following seems to be irrelevant now:

----

I'm pretty new to node/webpack/es6 so it's likel

[2015-11-16 17:18] #164 closed

[2015-11-16 21:59] nategeier opened #166 "You don't seem to have a generator with the name react-webpack installed"
After updating npm, yeoman, and node to 5.0.0 and running npm install -g generator-react-webpack without errors, when running "yo react-webpack", I am getting: You don't seem to have a generator with the name react-webpack installed. Any ideas?

[2015-11-16 22:12] #166 closed

[2015-11-17 06:58] weblogixx commented on #165
@yakirn: The generator was just updated to use babel 6. It should work with the new version without problems. Note: Only newly created projects (after updating the generator) will be build with babel 6.

[2015-11-17 07:20] weblogixx commented on #162
@stylesuxx:
After checking https://github.com/weblogixx/react-webpack-template/pull/12, I too think we should add it in the generator, not the template itself. Lookin forward to a pr from you :+1: :)

[2015-11-17 14:42] mr-wildcard commented on #162
+1
https://github.com/gajus/react-css-modules ?

[2015-11-18 03:53] stylesuxx commented on #163
OK, so this is related to [react-webpack templat PR 12](https://github.com/weblogixx/react-webpack-template/pull/12) also to #162, which referenced to the other PR :-)

You can see my *generator only* implementation of the **postcss** functionality in [my fork](https://github.com/newtriks/generator-react-webpack/compare/master...stylesuxx:feature/postcss).

As you can see, this *relies heavily on

[2015-11-18 07:11] weblogixx commented on #165
@yakin:
Yes, the new loaders author has choosen to "update" his isparta loader with the old isparta config for versions 0.2.x. So it ran when it was 0.2.2, but no more for 0.2.3 :(. A new version of the template will be available in a couple of minutes, the dependency is fixed then. Just update your generator in about half an hour to make it work correctly.

[2015-11-18 07:29] weblogixx commented on #163
@stylesuxx: Seems good so far. Mind adding some tests for it? I know it is not too nice to adjust the config via regex, but I dont seem to be able to find a better way, too. I will check it out some more.

[2015-11-18 17:48] stylesuxx commented on #163
Of course I will add some tests, just wanted to see if you are OK with this solution, otherwise I would just have trashed the branch and thought up something else ;-)

Which I did now anyhow, after talking to @sthzg a bit, who suggested to load *cfg/base.js* into an AST then traverse it and add/replace values where needed.

I [updated my fork](https://github.com/newtriks/generator-react-webpack/co

[2015-11-19 06:25] weblogixx commented on #165
Think that should be done with the update. Closing this. If there are any other errors, feel free to open a new ticket.

[2015-11-19 06:25] #165 closed

[2015-11-20 22:29] weblogixx commented on #163
@stylesuxx: Honestly I first thought that it could be overkill, too. That was until I looked at it deeper. You are right that we might need the ast parser in the future anyway, so the dependencies arent that much of a problem.

Two final points:
- What do you think about moving ```this.postcssConfig()``` to its own file so we could require it? This would have the benefit that ```app/index.js``` wo

[2015-11-21 22:04] stylesuxx commented on #163
@weblogixx about the tests, should I just copy the *react-webpack:app* testcase and change the prompt for *PostCSS* accordingly, adding testcases to check the content of the config file - or what would you suggest?

[2015-11-21 23:32] weblogixx commented on #163
@stylesuxx, yes I think that would be enough for the start. I also plan to also add some basic tests for required packages and such stuff in package.json, so I could built upon your pr.

[2015-11-22 17:30] Grandiz opened #169 "react-bootstrap"
Tried to use https://react-bootstrap.github.io/.

In render method simple write < Button bsStyle="link">Link< /Button > and on top of script import {Button} from 'react-bootstrap'; Button appear on page, but unfortunately no style on the btn. No error on browser concole
Have anyone faced to the same problem?

[2015-11-22 22:37] sthzg commented on #169
@Grandiz did you add the bootstrap CSS to your page (e.g. as a `<link/>` in `index.html`)?

[2015-11-23 07:39] weblogixx commented on #163
Included and will be released as 3.1.0. Thanks again @stylesuxx!

[2015-11-23 07:39] #163 closed

[2015-11-23 08:38] weblogixx commented on #169
Hi @Grandiz,

seems like the react-bootstrap project does ***NOT*** ship with a default bootstrap.css. To quote their website:

- Because many folks use custom Bootstrap themes, we do not directly depend on Bootstrap. It is up to you to to determine how you get and link to the Bootstrap CSS and fonts.
- React-Bootstrap doesn't depend on a very precise version of Bootstrap. Just pull the latest and

[2015-11-23 16:12] abienz opened #170 "stylus-loader warnings"
When I run the generator with stylus as my chosen CSS Preprocessor I get the following warnings:
[code]

This causes page load errors such as the following:

[code]

I made the build work for me by adding...
[code]
To my package.json devDependencies but I don't suppose this is an ideal fix

[2015-11-24 07:42] #170 closed

[2015-11-24 12:31] weblogixx commented on #170
@abienz: There where problems with unmet peer dependencies, the problem was fixed in 3.1.1. Please update your generator, it should work fine then.

[2015-11-26 18:05] HarrisRobin opened #171 "App stuck at 'wait until bundle finished: /assets/app.js'"
So, for some reason the app won't get past ```wait until bundle finished: /assets/app.js``` when I run 'npm start' or 'npm run serve'.

Also, 'npm run dist' gets stuck at ```> copyfiles -f ./src/index.html ./src/favicon.ico ./dist```

Anyone running into this issue as well?

I am on node v5.0.0
Latest version of the generator.

I have been using this for a week now without a problem, so im not sur

[2015-11-26 19:55] HarrisRobin commented on #171
UPDATE: I am now able to reproduce this.

Only way to get out of this problem that throws no error is by going to ```Main.js``` , removing all the components ```import```, restarting the server and when app is ready putting them back in.

Anyone who runs into this, please see if you can reproduce as well. I will leave this open but feel free to close if no one runs into this issue.

[2015-11-27 03:33] HarrisRobin commented on #171
UPDATE2: even though I got around the issue above, ```npm run dist``` still does not get past ```> copyfiles -f ./src/index.html ./src/favicon.ico ./dist```

<img width="655" alt="screen shot 2015-11-26 at 22 32 47" src="https://cloud.githubusercontent.com/assets/3880008/11433626/a838ab60-948d-11e5-8878-3236180cf9e5.png">

[2015-11-27 03:54] HarrisRobin commented on #171
Removing the components again, I get this when running
```npm run dist```
<img width="1074" alt="screen shot 2015-11-26 at 22 53 19" src="https://cloud.githubusercontent.com/assets/3880008/11433804/b3649fdc-9490-11e5-967d-86b3ff5d30d1.png">

[2015-11-27 06:21] weblogixx commented on #171
Hello @HarrisRobin,

Interesting, I do not had such problems once. Could you please provide a link to the code where the error  happens? Also, which operating system are you working on?

[2015-11-27 15:01] HarrisRobin commented on #171
@weblogixx I am on OSX. and I cannot host it because I can't even build the project. However, here is a repo: https://github.com/HarrisRobin/react-flux-movie-UI

[2015-11-27 16:39] weblogixx commented on #171
After just skimming through the code a bit, the only thing that I see that could cause problems is the way you incloude node-bourbon in the config.

I will have a closer look over the weekend.

[2015-11-27 23:38] HarrisRobin commented on #171
@weblogixx interesting. what red flags do you see? ```@import bourbon;``` is working just fine fyi.

[2015-11-28 15:14] mrzmyr opened #172 "'os-homedir' missing after fresh install"
[code]

Or should this be filed in [osenv](https://github.com/npm/osenv) ?

cc @isaacs

[2015-11-30 06:38] weblogixx commented on #172
Hi @mrzmyr,

I dont get any errors like this when creating new components. I once had a similiar problem where some dependencies where not correctly installed (in my case it was lodash after updating). Could you run npm install in your project directory and look if it installs any missing dependencies? If this does not help, what happens if you manually install os-homedir?

[2015-11-30 06:57] weblogixx commented on #171
Hi @HarrisRobin,

had another look at it. There are known problems with bourbon in webpack configs. Someone worked around these and build https://github.com/lowik/bourbon-sass-loader. Maybe you should try this out. When I check out your repo and just remove the Aside.scss require statement it builds. Seems like it really has to do with the way that webpack tries to build the dependencies.

As I am

[2015-11-30 23:07] HarrisRobin commented on #171
@weblogixx thanks for the feedback. I will try the bourbon-sass-loader and report back if it works :)

[2015-12-01 03:42] HarrisRobin commented on #171
@weblogixx just wanted to come back and say that i don't think the problem is with bourbon. removing bourbon completely did not solve my issue and I still have to do the same thing in order to get the project to compile and work (remove the highlighted block of stuff in the screenshot, re-run npm start and then add them again)

<img width="739" alt="screen shot 2015-11-30 at 22 42 00" src="https:/

[2015-12-01 04:00] HarrisRobin commented on #171
Yeah so unless I reduce the amount of components or remove them before i run ```npm start``` then the app never finishes to bundle and it gets stuck on :

```webpack: wait until bundle finished: /assets/app.js``` infinitely. I ruled out bourbon as the issue and don't really know what's going on.

[2015-12-01 06:43] weblogixx commented on #171
@HarrisRobin: I think I identified the problem know. https://github.com/jtangelder/sass-loader/issues/168 brought me closer to it. Seems like the sass version shipped with the generator is way too old. In the meantime it made a jump from 1.0 to 3.1. The following works for my setup, hope for yours too:

- First, ```npm uninstall sass-loader```
- Remove the sass-loader from npm config
- Run ```npm

[2015-12-01 06:48] #171 closed

[2015-12-01 07:46] HarrisRobin commented on #171
@weblogixx spot on! that was it.

thanks for the fix :)
cheers

[2015-12-02 16:48] mr-wildcard opened #173 "Use babel-eslint as parser ?"
because this cool project generates ES2015 stuff, and soon ES2016 we hope.

And:

from https://github.com/eslint/eslint/issues/1657#issuecomment-77500655

Default parser couldn't handle http://babeljs.io/docs/plugins/transform-object-rest-spread/ plugin I my case.

[2015-12-03 08:42] weblogixx commented on #173
@mr-wildcard: Sounds like a good idea. I will play around with and check if it can be easily integrated (as stated on the project page, that should be the case).

[2015-12-03 09:41] mr-wildcard commented on #173
:+1:

In case it's ok for you @weblogixx,
These change needs two simple steps:

* adding `babel-eslint` as `devDependency`
* adding `"parser": "babel-eslint",` in `.eslintrc` file

[2015-12-04 08:19] #169 closed

[2015-12-04 08:27] weblogixx commented on #173
@mr-wildcard: Just added it to the underlying template. It should be available after updating your installed generator.

[2015-12-04 08:27] #173 closed

[2015-12-04 08:36] mr-wildcard commented on #173
:100:  thx @weblogixx

[2015-12-04 19:23] nickbae91 opened #174 "new Parse.Query doesn't work with react-webpack??"
The updates for ParseComponent for ES6-based code states that all of the same methods in the ParseReact.Mixin should work the same way. However, the "new Parse.Query" doesn't seem to grab anything...? listItems seems always to be empty.

Notes:
 a) I have verified the connection with Parse (using the "TestObject" code provided in the QuickStart section in Parse.com)

Thanks so much in advance! I'm

[2015-12-08 06:21] weblogixx commented on #174
Hi @nickbae91,

did you put the node modules you need into the webpack configuration? We currently only include files in the src/ folder in webpack, so stuff like material-ui (which I think would be installed via npm) has to be included in ```cfg/dev.js```:

[code]

Unfortunately I dont know parse, so I cannot say for sure if it is a problem with generator of with parse itself.

[2015-12-09 05:11] nickbae91 commented on #174
Sorry weblogixx I didn't realize that the post was way too long. I updated the description and code (above) for easier readability. I have also created a public repo (basically an empty webpack, with the libraries required included, and this single page):
https://github.com/nickbae91/Explorerwithnav_parse-react/blob/master/src/components/Main.js

Per your suggestion, I have implemented it in the d

[2015-12-14 12:09] stylesuxx opened #175 "Relay"
Hey @weblogixx,
I just wanted to ask what your stand on Relay is.

To give some context: I am building myself a stack which looks like this:
* express + passport + graphql as backend via [generator-es6-graphql](https://github.com/stylesuxx/generator-es6-graphql)
* redux + relay + react in the front using this repo for the react part

I saw your [https://github.com/weblogixx/generator-react-webpack

[2015-12-14 17:39] zhx828 commented on #149
I know this issue probably has been solved, but I still have similar issue. I'm using npm -v 3.5.3 and node -v v.0.10.32 Should I do any updates on them? I think I updated to the newest version. Thanks

[2015-12-15 02:35] aragacalledpat opened #176 "Default css creates white text input fields with white text"
Thanks so much for making this generator!

I have been using it today to learn React, and this styling issue confused the crap out of me.  I assumed React wasn't updating the DOM correctly or something.

[2015-12-15 07:53] weblogixx commented on #176
Hi @aragacalledpat,

first, thank you. Could you be a bit more precise about your issue? Thanks!

[2015-12-15 07:58] weblogixx commented on #175
Hi @stylesuxx,

currently you would have to build it the way you describe it (at least roughly):

- First you would have to build a relay generator
- Next, you would build your redux version
- Then, you would throw both together in a third generator.

Currently, the call methods for yeoman scripts do allow to use other generators, but you will have to mimic the filesystem layout (e.g., generator-r

[2015-12-15 11:26] sthzg commented on #175
_a little hacky_ ... is a nice understatement :) I realized that going down that route means eventually rebuilding (a bit of) NPM (a registry, a config format, a network layer for downloading/updating, declaration of compatibility). Of course that makes no sense, so it should either be built on NPM or as @weblogixx says directly into Yeoman. The feature on Yeoman is open to PRs https://github.com/

[2015-12-15 14:43] aragacalledpat commented on #176
Sure!  Sorry for not describing it better in the first place.

Right after running the generator, I added <input type="text"></input> to the App Component.  The input is rendered with a white background color and white text color.  So, the text is invisible.

body { color: #fff} is set in the style sheet and it's cascading down to the input element.  Obviously it's a quick fix and not a big deal b

[2015-12-16 07:45] weblogixx commented on #176
Ah, now I get it. I do not think that we have to fix this as most people will always right out delete the content of the main css file. However as you are just starting out, would you mind to give some feedback about the generators usage when you tried it? When you are a beginner, you will see some things different from someone who has worked with react for a time. Maybe we could make the docs (or

[2015-12-16 07:45] #176 closed

[2015-12-16 07:54] weblogixx commented on #175
I think so, too. However while we have no official support for such a feature, we would still have to do it the way it is done in the alt version I think.

@stylesuxx: Please tell me when you start with your work, would be interested in something like this, too. On the redux part, just tell me when you are ready and I will add a link to the README.

[2015-12-16 11:57] stylesuxx commented on #175
This is some good food for thoughts, thank you guys. I will need to break this down in a small test setup, somehow I feel I am still missing a piece to fully understand the problem :-/

@weblogixx I will keep you updated, maybe you can leave this issue open for further discussion.

[2015-12-16 12:13] weblogixx commented on #175
@stylesuxx, yes, lets do it like that. Just have a look at generator-react-webpack-alt (the name is waaaay to long :() to see how it is done in the "yeoman way". That means you will need to add some (more or less) useless directories.

However, if you find another way to make things smoother for dependent generators, please contact me and I will happily follow them.

[2015-12-16 15:46] aragacalledpat commented on #176
I would be happy to give some feedback.  Thanks for inviting me to contribute : )

[2015-12-17 07:37] weblogixx commented on #176
You are welcome :)

[2015-12-17 19:28] dlombardi commented on #141
I'm having a similar problem with react-router ^1.0.3 where refreshing routes errors out with a cannot get message. Is there anyway to have a catch all, without server-side code, to reroute requests to the appropriate html5 path?

[2015-12-18 12:10] weblogixx commented on #141
Hi @dlombardi,

yes there is. In the new version of the generator, you can add the following code to your routes:

[code]

my utils/History.js looks like this:

[code]

When configuring it like that, you will be able to reload the webpack-dev-server urls on the current route without errors. Hope this helps.

[2015-12-20 05:33] firebait opened #177 "Destructuring assignment support"
Hi,

I tired to do the following on a component:

[code]
and got the following:
[code]
Any ideas would be helpful. I tried adding options to the .eslintrc file with no avail.

[2015-12-20 17:56] stylesuxx commented on #177
Hey @firebait,
*.eslintrc* is only for the lint settings.

What you are trying to to is to spread rest properties, this is *not part* of **es2015** but is a state 2 proposal, so just install the state 2 presets:

[code]
and activate them via *.babelrc*:
[code]

and you should be good to go.

[2015-12-20 18:06] stylesuxx opened #178 "generator-react-webpack-redux"
Alright, I think I am done for the most part with [generator-react-webpack-redux](https://github.com/stylesuxx/generator-react-webpack-redux)

Tests are in place and passing, dependencies are up to date and it is published to NPM.

@weblogixx: I set myself as author and added you as contributor. I did this so you don't get blamed for issues in the redux generator. I hope this is OK with you.

Othe

[2015-12-20 18:11] firebait commented on #177
Thanks @stylesuxx that did it.

[2015-12-20 18:11] #177 closed

[2015-12-21 19:31] weblogixx commented on #178
Hi @stylesuxx,

thats more than ok for me. Thank you for all your contributions so far.
I will look into it next week and give you some feedback if I find something noteworthy.

You are also free to add a pr to this repositories README.md to add your generator in the (currently very short...) generators list.

[2015-12-22 15:58] stylesuxx opened #180 "Components style"
I asked a fried of mine, namely @zerocity to give some feedback on [generator-react-webpack-redux](https://github.com/stylesuxx/generator-react-webpack-redux) and I think he did not grasp, that I am building on top of another generator, so I will forward his feedback as I feel appropriate.

He states that it would be more logical to have the styles directly with the component in a structure like s

[2015-12-22 16:02] stylesuxx opened #181 "Initial README.md"
This is part 2 of @zerocity 's feedback worth forwarding.

Adding an initial README.md would be a good idea where the base functionality of the generated project is described, how to add stuff, how to run the tests, first steps,... something like this.

Again, let me know what you thing and I will provide a PR.

[2015-12-22 16:45] stylesuxx opened #182 "Slack"
Hey @weblogixx what do you think about a slack channel, I think it would be cool to have a place to hang out and I would not need to spam the issue section so much :-)

[2015-12-22 20:37] pravinbashyal opened #183 "cannot start the server"
The following error occurs when I start the server after initial install:

    module.js:339
        throw err;
        ^

    Error: Cannot find module '../../modules/es6.object.assign'
        at Function.Module._resolveFilename (module.js:337:15)
        at Function.Module._load (module.js:287:25)
        at Module.require (module.js:366:17)
        at require (module.js:385:17)
        at Obje

[2015-12-24 17:03] cheshire137 opened #184 "SyntaxError: Unexpected strict mode reserved word"
[code]

[2015-12-24 17:06] cheshire137 commented on #184
Never mind, I installed Node v4 from https://nodejs.org/en/blog/release/v4.0.0/ and it works now.

[2015-12-24 17:06] #184 closed

[2015-12-28 07:23] weblogixx commented on #182
I think thats a nice idea. Will create one this week :+1:

[2015-12-28 07:25] weblogixx commented on #181
I added some READMEs in the different folders for this case. However, we I have no problem with an initial README.md, maybe linking it to the ones already provided. Feel free to add a pr if you want to :+1:

[2015-12-28 07:29] weblogixx commented on #180
That would be nice I think. This is a breaking change for current projects that use the workflow of today. Will think about it and report in later.

[2015-12-28 12:34] stylesuxx commented on #180
We could also add this as an option, and let the user choose. The "all in one" could be default from now on. This way we would not break anything but "soft force" the users to use the "all in one" style and thus let the "old" method fade out.

[2015-12-28 13:20] weblogixx commented on #175
@stylesuxx: I will close this issue, as the question itself has nothing to do with the generator itself. If you need more input, do not hesitate to open a new issue.

[2015-12-28 13:20] #175 closed

[2015-12-29 10:15] weblogixx commented on #183
Hi @pravinbashyal,

I do not get such errors when generating new projects (or using the underlying tempalte directly).
Seems like maybe some modules (in this case core-js) where not correctly installed. Just run npm install in the root dir of your toDo application and try it again.

[2015-12-29 10:20] weblogixx commented on #178
Seems really nice :+1:! I am currently investigating in the ast parsing part you did for adding some lines to the alt generator and may have a deeper look at the style path issue we talked about.

Hope you will get many users with this thing.

[2015-12-29 10:20] #178 closed

[2015-12-29 10:22] weblogixx commented on #172
Nothing new in nearly a month. Closing this for now.
@mrzmyr: Please feel free to open new issues if you have still problems with the generator.

[2015-12-29 10:22] #172 closed

[2015-12-30 08:41] weblogixx commented on #174
Hi @nickbae91,

sorry for the late reply. I had some time looking at the problem. It seems like it is in fact a babel / webpack issue. The problem here is that material-ui is still using babel 5. Babel then parses the .babelrc file in the npm dir. As the format has changed (and the option breakConfig is not available in 6.0 anymore), the babel compiler breaks.

You can get more informations at htt

[2015-12-30 12:40] yordis commented on #182
@weblogixx all the community of react is in Discord right now. I suggest you to ask for some channel there will be very helpful for everyone

[2015-12-30 14:51] weblogixx commented on #182
@yordis, sorry, I don`t quite understand what you mean. Could you elaborate this some more?

[2015-12-30 15:22] yordis commented on #182
:laughing:

[2015-12-31 15:43] nickbae91 commented on #174
Hey thanks for coming back and helping out! Yeah after a lot of fiddling, I figured that it was a webpack issue - it started to work once I moved the source code to a simple example of ParseReact. I will try your suggestions and try moving it back to a webpack setup.

[2015-12-31 16:27] #174 closed

[2016-01-04 15:55] ammichael opened #185 "Props and ES6 Stateless Component"
Hello!

Well, I'm new to React, Webpack AND ES6 classes. So I'm a little bit lost.

The thing troubling me is how I can I handle props and functions with ES6 syntax. I need my component to get the zIndex props, but I can't do it. It's calling the function properly, but the log returns undefined.

Here:

[code]

What am I missing? How can I properly get the component props?

Thank you!

[2016-01-05 06:24] weblogixx commented on #185
Hi @ammichael,

your paperHover function is declared outside of the scope of the react function, therefore it will not be able to see the props variable.

You may also write your component with an explicit return statement like:

[code]

Hope this helps!

[2016-01-05 17:14] ammichael commented on #185
It works perfectly!

I have the Chrome Extension, but I think I'm missing some pieces of information about React + ES6 + Webpack. A little bit confusing and overwhelming.

Thank you very much.

[2016-01-06 20:55] #185 closed

[2016-01-07 06:17] weblogixx commented on #183
@pravinbashyal,

there was nothing new in 2 weeks. I assume the error is no more. Please feel free to submit a new issue or reopen this one if this should not be the case.

[2016-01-07 06:17] #183 closed

[2016-01-11 20:24] RobErskine commented on #6
Sorry to comment on such an old issue, but is this `react-router` still part of this generator? I'm not seeing in in the generator command prompts, and I don't see it documented (it's addition on removal) in the changelog.

[2016-01-12 06:16] weblogixx commented on #6
Hi @RobErskine,

the generator does not have support for flux or react-router anymore. This was done in version 2.0, because we wanted it to be easier to maintain (see https://github.com/newtriks/generator-react-webpack#changes-in-version-20). For flux frameworks, there are currently at least 2 other generators using generator-react-webpack as base (reflux and alt.js). Both are linked to in the RE

[2016-01-12 13:04] RobErskine commented on #6
Thanks @weblogixx, that's great. I didn't realize react-router was part of the flux strip out overall done in 2.0.

[2016-01-15 23:01] BobWhitelock opened #186 "Question about component naming convention"
Hi, first off thanks for the generator, it really helps with getting a project started quickly. I just have a quick question about the naming scheme used for components when using the component generator. Components generated by this always have a 'Component' suffix appended to them, this seems odd and unnecessary to me for a couple of reasons:
- I've not seen this convention in any other React pr

[2016-01-21 05:01] tryer3000 opened #187 "arrow function will throw syntax error"
first, I'm new to front-end, so this may not be a problem of this generator

arrow function fails to build.

Insert the following code into AppComponent

[code]
This work  in [babel 5](https://babeljs.io/repl/)

[2016-01-21 06:37] tryer3000 commented on #187
Well, I've just learnt that:
It's a feature of es6 stage0.

[2016-01-21 06:37] #187 closed

[2016-01-21 11:38] stylesuxx commented on #182
I saw you were marking issues with Milestone 4. Willing to help with those - but a quick communication channel would be cool - so I am pushing this. Hell, even an IRC chan on freenode would be enough :-)

[2016-01-25 02:44] uinika opened #189 "npm run dist error appear when i distributed my code."
below is my project.
https://github.com/uinika/saga.git

* my code is not packaged correctly and there is no error info outputs. PLS, checkout my project, and test it.
(1) clone my code and enter the project folder.
(2) take "npm install" .
(3) run "npm start" will be ok. but "npm run dist" didn't.

[2016-01-27 21:45] gablabelle opened #190 "Using webpack's ProvidePlugin breaks Hot Module Replacement?"
Hello,

I am using the generator-react-webpack and when trying to use webpack's ProvidePlugin I get the following error when the browser launches after doing `npm start` :

Hereunder is my cfg/base.js ... If I remove the plugins section it works ok. What am I doing wrong?

[code]

[2016-01-29 22:29] weblogixx commented on #189
Hello @uinika,

I have just looked into this issue. It seems like there is a known problem in webpack for bigger projects, as described in https://github.com/webpack/webpack/issues/537.

It seems to be related to the UglifyJsPlugin. If you adjust your dist config like this:

[code]

it will compile, however it will NOT compress the contents anymore. If you still need that, you may manually use ugl

[2016-01-29 22:29] #189 closed

[2016-01-29 22:38] weblogixx commented on #186
Hello @BobWhitelock,

the component suffix seems to be redundant indeed. It was there before version 2.0 was created, so we left it unchanged when rewriting the generator. There are some plans for a version 4.0. The removal of the suffix will also be included then. Hope this helps.

[2016-01-29 22:38] #186 closed

[2016-01-30 18:51] uinika commented on #189
@weblogixx
Many thanks. I have already fixed this issue, but unfortunately i was spend much time on this.
`
    plugins: [
    new webpack.optimize.DedupePlugin(),
    new webpack.optimize.OccurenceOrderPlugin(),
    new webpack.optimize.AggressiveMergingPlugin(),
    new webpack.NoErrorsPlugin(),
    new webpack.optimize.UglifyJsPlugin({
      compress: { warnings: false }
    }),
    new webpack

[2016-02-01 06:43] weblogixx commented on #190
Hi @gablabelle,

could you please send me a link to your repo if possible? Will then have a look at it. Thanks.

[2016-02-08 19:41] StoneCypher commented on #187
This is completely misunderstood

[2016-02-08 20:57] StoneCypher commented on #187
you probably just didn't install the babel presets, or something.

babel does implement arrow functions.

[2016-02-18 21:23] GryfonN opened #191 "import Config object"
Hi I want to report mistake in /src/config/README.md

if you load module with `let config = require('config');` then you have to use **default** property `let currentAppEnv = config.default.appEnv;` and not just `let currentAppEnv = config.appEnv;`

But if you will import confi module with `import config from 'config';` everything is fine

[2016-02-19 07:37] weblogixx commented on #191
@GryfonN: Thanks for pointing this out. This is true because we export the default property and it will not be available directly when using webpack requires. I would recommend using the import syntax, but your milage may vary.

However I will have a look at this.

[2016-02-19 10:44] GryfonN commented on #191
No problem, thanks for quick response.

[2016-02-26 07:39] fyyyyy opened #192 "How to disable overlay with hot reload?"
Apparently this uses react hot reload which uses the webpack hot middleware.
Setting overlay:false should disable the info bar at the top of the dom. However it doesnt seem to have any effect.

Thanks

[2016-02-26 07:46] fyyyyy commented on #192
![image](https://cloud.githubusercontent.com/assets/3744048/13346286/71b494bc-dc65-11e5-94eb-8c72f649a58d.png)

[2016-03-01 13:55] floydprice commented on #192
Hey @fyyyyy you can do it by changing the following line in the generated server.js

`open('http://localhost:' + config.port + '/webpack-dev-server/');`

to

`open('http://localhost:' + config.port + '/');`

Hope that helps.

[2016-03-04 07:13] qcgm1978 opened #193 "Does sourcemap have no effect?"
Hello:
        The devtool console prompt many ''//@ sourceURL' and '//@ sourceMappingURL' are deprecated, please use '//# sourceURL=' and '//# sourceMappingURL=' instead.'
        Dose it indicate sourcemap have no effect?

[2016-03-04 07:18] weblogixx commented on #193
Hi @qcgm1978,

Sourcemaps are generated via webpack and they do not seem to be configurable. I think you will have to wait until webpack updates its sourcemap generation code.

However, both webpack generated sourcemaps (dev and dist) are just working fine for me in all browsers.

Hope this helps.

[2016-03-04 09:49] fyyyyy commented on #192
Awesome, thanks :+1:

[2016-03-04 09:49] #192 closed

[2016-03-04 16:46] qcgm1978 commented on #193
Ok,I'll check it effective or not.thank your help:)

[2016-03-06 21:48] GryfonN opened #194 "WebpackDevServer config inheritance problem"
All WebpackDevServer configs (for specific env) are singletons and loaded together in _webpack.config.js_, so they override base config together.

Example: When I added proxy property in _cfg/dev.js_, and started app with _npm run serve:dist_, my proxy setting was added to _base.cfg_ and used also for _dist.cfg_.

I fixed this problem in a way that I load only one config according _validEnv_ varia

[2016-03-08 17:04] louisremi opened #195 "Add "mocha" to the "env" list of .esltinrc"
Hi,

My editor is configured to automatically lint all files when an .eslintrc file is present, and files in the test/ dir don't validate because mocha isn't listed as en environment in the .eslintrc
I wish I could've made a PR to propose that change, but I couldn't locate the template for this file.

[2016-03-08 18:54] louisremi opened #196 "lint task errors because of missing estraverse-fb module"
Hi, I just updated my `generator-react-webpack-redux` today, created a new project and tried to run the lint task, after a few modifications. Here's the error that was logged:
[code]

[2016-03-08 20:26] louisremi commented on #196
It's a bug with eslint 2.3.0 that should soon be fixed, apparently: https://github.com/eslint/eslint/issues/5476

[2016-03-09 17:46] justo commented on #196
`npm start` crashes because of this bug, even on a brand new project.

[2016-03-09 18:17] #195 closed

[2016-03-09 18:17] #196 closed

[2016-03-09 18:18] weblogixx commented on #196
I just released an updated package that fixes the eslint range. Should work now correctly for new projects.

[2016-03-09 18:20] weblogixx commented on #195
Hi @louisremi,

I have just added this feature in a new release. It should work now for newly generated projects.
The code you are looking for is located in https://github.com/weblogixx/react-webpack-template. This is the standalone version of the webpack config used by the generator.

[2016-03-11 23:33] dedan opened #197 "Cannot use modules that import `config` in my tests"
I have one reducer function in which I import the environment specific `config` object via `import {config} from 'config'`. This works without problems when using the `dev` or `dist` environment, for example in the webpack-dev-server that I start with `npm start`. But I run into a problem when I import this reducer function in a test.

[code]

How do people usually handle things that depend on the

[2016-03-12 21:02] codeofsumit opened #198 "use scss variables across scss files"
so I started my first component:

[code]

`Branding.scss` has a lot of variables that I'd like to use inside `Cart.scss`.
How do I make `Branding.scss` globally available in all components? Preferably without `require`ing them inside each one.

(Sorry I'm a React/Webpack beginner, coming from Angular, Gulp and stuff)

[2016-03-14 06:06] Invulner opened #199 "Wrong path to image assets?"
If run 'npm dist' after install (without any modifications) and open 'dist/index.html' in the browser then you'll see that there's no image - http://joxi.ru/82Q4jwes1KXldm . Looks like first '/' isn't necessary. Not a big deal, just looks like a small bug.
Anyway, great work! This generator open new possibilities for me to learn new tools in convenient way.

[2016-03-14 19:39] weblogixx commented on #198
Hi @codeofsumit,

I dont know a way to make it available globally. You could add an alias to the webpack config to require this one in your scss, then it would be a one liner.

I will have a look at this, maybe we could include such a feature.

[2016-03-14 19:42] weblogixx commented on #197
Hi @dedan,

we are using webpack to include the configuration (it is set as an alias in the webpack configuration). This means you will need to use webpack to use it correctly. However, you could also include it like a regular es2015 import:

[code]

Does this help?

[2016-03-14 19:49] weblogixx commented on #194
Hi @GryfonN,

I am aware that such a problem existed, as we extended the base configuration in the older versions of the generator. Since version 2.3.1 of the generator, this should not be the case anymore.

Could you post an example of your config so I can check it against the latest version?

[2016-03-14 19:49] #193 closed

[2016-03-14 19:50] #190 closed

[2016-03-14 19:51] weblogixx commented on #199
Hi @Invulner,

thanks for the hint. This will get fixed in the next version of the generator.

[2016-03-15 05:35] tuzhucheng opened #200 "graceful-fs ENOENT Error"
When I do `yo react-webpack`, I get the following error.

[code]

[2016-03-15 05:38] dedan commented on #197
Thank you for this explanation. In the end I solved it by switching to the Karma test runner.

[2016-03-15 05:38] #197 closed

[2016-03-15 06:24] weblogixx commented on #200
Hi @tuzhucheng,

seems like the error is thrown in yo directly. Could you give me some more information about the issue (output of ```npm ls -g```, versions of the generator etc)? Did you just update to 5.7? I got it running in 5.8 without any problems.

[2016-03-15 08:18] codeofsumit commented on #198
so all css files have their own scope? If I require two css files in one line, I can't use sass variables or anything from one file to the other?

[2016-03-15 12:18] weblogixx commented on #198
Hi @codeofsumit,

I am not an expert in sass, but this should be the case, yes. I mainly use it with less, there you are able to do something like:

[code]

There is no global scoping as far as I know.

[2016-03-15 13:02] brentjm opened #201 "Failed at the reactWebpack@0.0.1 start script 'node server.js --env=dev'"
Can't start the development server error message below.

[npm-debug.log.zip](https://github.com/newtriks/generator-react-webpack/files/173951/npm-debug.log.zip)

$npm start

events.js:154
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE 127.0.0.1:8000
    at Object.exports._errnoException (util.js:856:11)
    at exports._exceptionWithHostPort (util.js:879:20)
    at Ser

[2016-03-15 13:19] brentjm commented on #201
My mistake. It appears I had a python server running on port 8000, which cause the npm server to fail. Working fine now.

[2016-03-15 13:19] #201 closed

[2016-03-15 13:43] codeofsumit commented on #198
yeah I know how to import one file into another but I would've thought that all css files get merged together in one file so I don't have to set stuff specifically in each file.
I mean, the classes are global when I import them in `main.js`.
It's just the sass variables. It seems like the generator is compiling sass first, then merges the files together but IMO it should be the other way around. F

[2016-03-15 15:58] tuzhucheng commented on #200
Hi @weblogixx,

Here is the output of `npm ls -g` for me:

├─┬ generator-react-webpack@3.2.4
│ ├─┬ escodegen@1.8.0
│ │ ├── estraverse@1.9.3
│ │ ├── esutils@2.0.2
│ │ ├─┬ optionator@0.8.1
│ │ │ ├── deep-is@0.1.3
│ │ │ ├── fast-levenshtein@1.1.3
│ │ │ ├── levn@0.3.0
│ │ │ ├── prelude-ls@1.1.2
│ │ │ ├── type-check@0.3.2
│ │ │ └── wordwrap@1.0.0
│ │ └─┬ source-map@0.2.0
│ │   └── amdefine@1.0.0
│ ├──

[2016-03-17 21:19] GryfonN opened #203 "Missing dev dependecies"
It would be good to include all modules to package.json that are need for features of this generator.
For me I had to install **sass-loader** and **node-sass** by my own ad save it with --save-dev, when I wanted use my .scss files, that are supported with base config

[2016-03-18 08:26] weblogixx commented on #203
Hi @GryfonN,

the dependencies get saved to package.json when you set up a new project. If you choose less, you will get less loader, if you choose sass, you will get sass loader and so on. This is done as someone who needs less or sass only does not need the loader for the other one for his project.

If you choose to roll with just css, then no additional loader will be installed as dependency.

[2016-03-18 10:08] GryfonN commented on #203
Thx for explanation. I have chosen during set up of project just less, and then I decided to use scss :)
I saw that loader configuration for webpack is already there so I thought that I would be able to use scss out of box.

[2016-03-18 10:08] #203 closed

[2016-03-18 10:13] GryfonN commented on #194
[Gist: webpack.config.js](https://gist.github.com/GryfonN/7f73c2eec9908ad69341#file-webpack-config-js)

[2016-03-21 15:23] bentaly commented on #199
Any update or a work around for this issue? I havent been able to solve it yet (if i do ill post here)

[2016-03-21 17:58] bentaly commented on #199
I changed the module.exports in defaults.js to:

`module.exports = {
  srcPath: srcPath,
  publicPath: 'assets/',
  port: dfltPort,
  getDefaultModules: getDefaultModules,
  postcss: function () {
    return [];
  }
};`

Note the lack of a slash on the front of the 'assets/'  path name

[2016-03-22 02:31] BoringDays opened #204 "'npm run lint' reports an error"
npm reports a error when I run `npm run lint`. It doesn't effect final result, but is there any way to fix it?

[2016-03-22 05:51] #204 closed

[2016-03-24 03:57] madwiki opened #205 "Is there any way to hide the warnings in browser console?"
I find that too many warnings in browser console,and they are increased by hot loading.
Is there any way to hide the warnings in browser console?

I have tried to use `noInfo: true` in the config of WebpackDevServer,but it didn't work.

[2016-03-29 11:22] weblogixx commented on #205
Hi @madwiki,

the generated warnings are mainly caused by the eslint plugin. To disable them, just remove the eslint-loader from cfg/defaults.js (preloader section).

The warnings from the dev server cannot be removed as far as I know, but I may be wrong at this point.

[2016-03-29 11:22] #205 closed

[2016-03-29 11:25] weblogixx commented on #200
Hi @tuzhucheng,

does it work correctly now? I have not had any problems like this with any versions of node on different operating systems. Maybe it will help to remove the node_modules folder of your software and reinstall it via npm install.

Please feel free to open this issue again if the problems are not solved by this.

[2016-03-29 11:25] #200 closed

[2016-03-29 11:50] weblogixx commented on #199
Hi @Invulner,

I will provide a release tomorrow, that will have this bug fixed. After this one, all created paths will be relative, making the generated sources easier to maintain.

@bentaly:
Thanks for your feedback. There was one little minor addition that was missing from your example, just changing the publicPath will result in not found errors because of the devServer config. Running it on y

[2016-03-29 11:50] #199 closed

[2016-03-29 11:57] weblogixx commented on #198
Hi @codeofsumit,

I am not using sass extensively, but I know it is possible to inject global variables directly in the loader. Here is a quote from the entry page:

[code]

As I said, I am using less most of the time, so this is the workflow I am used to.

You are right, webpack compiles sass first. You can see the config in cfg/defaults.js:

[code]

You may want to try out a different configurat

[2016-03-29 11:57] #198 closed

[2016-03-29 12:09] weblogixx commented on #194
Hi @GryfonN,

thanks for pointing it out, I will add the adjusted configuration to the underlying template. The new version will be available tomorrow.

[2016-03-29 12:09] #194 closed

[2016-04-04 08:58] yakirn opened #206 "Unit testing with nock"
I'm trying to test my async actions with nock, but with no success.
after installing and importing nock I get some warnings and errors in console:

WARNING in ./~/nock/lib/scope.js
Module not found: Error: Cannot resolve module 'fs' in ~/myproj/node_modules/nock/lib
 @ ./~/nock/lib/scope.js 21:7-20

WARNING in ./~/nock/lib/back.js
Module not found: Error: Cannot resolve module 'fs' in ~/myproj/nod

[2016-04-04 12:06] yakirn commented on #206
I found out the nock is not intended to use in the browser, so I replaced it with https://github.com/wheresrhys/fetch-mock.
now my tests all pass :) but I would still like to know how to make my source readable and debuggable during tests. (in chrome, the tests code looks fine, but the app's code looks like this:
[code]
)

[2016-04-04 15:48] weblogixx commented on #206
Hi @yakirn,

I would also recommend looking into using sinon for mocking and stubbing.

The code gets transpiled before the tests are run, thats the reason it is not original.

However, you may open your browsers dev tools (I recommend Chrome for this) and look at the provided sourcemap.

There you may set breakpoints in the original code.

If you are not able to find the sourcemap, I will send yo

[2016-04-05 08:06] yakirn commented on #206
I'm using sinon, but it's fake XMLHttpRequest feature is not working with [fetch](https://github.com/matthew-andrews/isomorphic-fetch). for now it works better for me to fake the server's reply using [fetch-mock](https://github.com/wheresrhys/fetch-mock) instead of mocking the source object.
I know how to view the source map when running my web app, but I can't find it when debugging the tests (if

[2016-04-05 08:09] yakirn commented on #206
after giving it a second look, maybe what we see in the test has something to do with the code coverage feature? if so, do you happen to know an easy way to temporarily turn it off, in order to debug the tests?

[2016-04-05 14:00] weblogixx commented on #206
Hi @yakirn,

I will have a look at this. You can disable the coverage information as stated on the projects README.md (just comment out the lines from karma.conf.js as described to remove them).

[2016-04-05 14:15] yakirn commented on #206
Thanks @weblogixx

[2016-04-13 05:48] chezhe commented on #140
How did you fix it?

[2016-04-13 05:58] weblogixx commented on #140
Hi @chezhe,

you may do it by configuring the projects .eslintrc file. Just remove the line ```"no-console": 1,``` or set it to ```"no-console": 0,``` to disable these checks globally. If you want to disable it in one file only, add the following comment on the top of the file:

[code]

Hope this helps.

[2016-04-13 07:50] chezhe commented on #140
Thanks a lot

[2016-04-21 07:02] thibault commented on #177
This thread solved the problem for me. Since I was also searching the correct eslintrc config to recognize the spread operator, I will leave this here for the ones who will follow me:

    // ~/.eslintrc.js
    module.exports = {
      'parserOptions': {
        'ecmaFeatures': {
          'experimentalObjectRestSpread': true
        }
      }, …

[2016-04-21 16:41] sinisterra opened #207 "Including process.env values in src/config object"
Hi there,

Just wondering: is it possible to include process.env properties into the src/config object? If so, how can I do it? Thanks a lot!

Keep up the good work, this generator is amazing!

[2016-04-21 21:16] ncksllvn opened #208 "Hot reload not working with React-Router/History API"
I've found that when using routes going deeper than one level, the hot update returns a 404.

[code]
Font Awesome has the same problem when its LESS files try to reference its font directory:

[code]

This problem doesn't happen when using the `webpack-dev-server/` in the URL so I'm not sure if this is really an issue, but that doesn't really play well with testing using the React Router since it'

[2016-04-26 06:08] weblogixx commented on #208
Hi @ncksllvn,

I currently have a project using deeper routes in react router without problems. Do you have historyApiFallback set in your webpack config? Without this, routes will not update.

However, it should be enabled by default in cfg/base.js per default. Could you send your react router and webpack config?

[2016-04-26 06:22] weblogixx commented on #207
Hi @sinisterra,

indeed it seems to be possible. Just add your wanted variables via webpacks define plugin (you can see an example in cfg/dist.js for this). You are able to use set variables in the frontend via process.env.VARNAME.

Seems to work in frontend and dist versions.

Hope this helps.

[2016-04-26 15:49] ncksllvn commented on #208
I actually just found this problem. The `output.publicPath` property defined in `cfg/base.js` has a leading `.`. Removing that fixed the 404's I was getting.

[code]
I don't recall ever changing that file though so that makes me think this is a bug.

[2016-04-26 15:56] ncksllvn commented on #208
Actually I suppose this is a problem with the react-webpack-template project, not the generator. Is that right?

[2016-04-26 18:49] weblogixx commented on #208
Seems like that. I will close this issue so we can continue in the webpack template.

[2016-04-26 18:49] #208 closed

[2016-04-27 12:35] abnerCrack opened #209 "why the cpu is very high"
hey:)
I run the program,The CPU has been high.
![22d3c9bf-40da-41ba-a654-638e77dd0e85](https://cloud.githubusercontent.com/assets/8336662/14852210/8818cdd6-0cb7-11e6-9bec-3ebb09566773.png)
how to fix this problem

[2016-04-28 07:47] lsfcode opened #210 "When I perform the command $sudo yo react-webpack ,the npm error is show,do you know why? in Mac,i'm very worry!helpme"
![-1](https://cloud.githubusercontent.com/assets/12317258/14878809/7c725e24-0d58-11e6-9204-47defce6da7b.jpg)

[2016-04-28 07:50] lsfcode commented on #209
Well , I think this is node's problem, and i have another problem ,can you help me fix this? i have submit a issue ,the number is 210.

[2016-04-28 07:56] weblogixx commented on #209
Hi @abnerCrack,

webpack itself is a bit performance hungry, depending on the used system. It mainly depends on the plugins you are inserting. If you add d3 for example, performance for initial builds may drop rapidly. The more modules you are loading, the more time it will take.

That said, I use this generator (and the underlying template) with various systems (MacBook Pro 2009 with Core 2 Duo,

[2016-04-28 08:00] weblogixx commented on #210
This seems to be a problem with your filesystem permissions. This should only be a problem when installing node from the node website directly, as it will require sudo privileges every time you install something globally.

I would recommend that you take a look at nvm (https://github.com/creationix/nvm). It makes managing node on mac and linux based systems dead simple and you will no longer need

[2016-04-28 08:03] abnerCrack commented on #209
Thank you for your answer,I try to change the higher version of the node,its better now.

[2016-04-28 08:03] #209 closed

[2016-04-28 08:16] lsfcode commented on #210
@weblogixx   i should use which version of Node.js?

[2016-04-28 11:18] weblogixx commented on #210
You may use whatever you like. The generator itself required node v4.0 at the minimum. However, I use it with 5.x on a regular basis. node 6.x will also offer a nice performance boost, however, I have not tried it yet (I heard that you have to recompile many native modules, so a simple switch does not seem to be possible).

Just try out the latest 5.x release by using

[code]

[2016-04-28 11:25] weblogixx commented on #182
Hey @stylesuxx,

I know I am kind of late for this request, but anyways... I just created a gitter channel for the generator (https://gitter.im/newtriks/generator-react-webpack). Hope we will have some conversations about the future of the project. Will add a badge for it in the readme soon.

Hope this will make it easier to follow the changes of this project.

[2016-04-28 11:25] #182 closed

[2016-04-28 11:30] weblogixx commented on #180
Hi @stylesuxx,

one of the latest changes I made in the current master here was the addition of the major version of the generator (3.x currently) as an option. We are now able to guess the paths of generated components. I just have to add the legacy layer in the next version 4.0.

Currently I am working on the second version of the react-webpack-template, using webpack 2 and unit testing with enz

[2016-04-28 11:30] #180 closed

[2016-04-28 11:47] lsfcode commented on #210
@weblogixx  thank you for answer me.Now I use n to the version of the node management.and my node version is 5.10.1  .   i am in China.now i am trying to install react-webpack.it's to0 difficult to me .
but thank you very much!

[2016-04-28 17:45] weblogixx commented on #210
Hi,

glad I could help. You say it is too difficult to use. Could you tell me where you have problems with?

[2016-04-29 02:54] lsfcode commented on #210
when I use yoman to install react-webpack, he will quote a wrong. Install other when there is no problem.
my node's version is 5.10.1 ,npm's version is 3.8.7.
![-1](https://cloud.githubusercontent.com/assets/12317258/14907267/b21b2290-0df8-11e6-8cca-7f444cb5ff5f.jpg)

[2016-04-29 02:55] lsfcode commented on #210
@weblogixx when I use yoman to install react-webpack, he will quote a wrong. Install other when there is no problem.
my node's version is 5.10.1 ,npm's version is 3.8.7.
![-1](https://cloud.githubusercontent.com/assets/12317258/14907267/b21b2290-0df8-11e6-8cca-7f444cb5ff5f.jpg)

[2016-04-29 05:57] weblogixx commented on #210
Hi,

I do not see any errors here. The sass loader (and maybe other plugins, too) will try to compile some binary packages during installation. This is needed to speed them up (e.g. for autowatching, which hooks itself into the filesystem via fsevents).

We are currently not using jade, it seems it may be a child dependency of the sass-loader. But this may be solved with the latest version of thos

[2016-04-29 07:27] lsfcode commented on #210
@weblogixx  I think this is the reason of the 'wall'. Because this is China!
But thanks very much!

[2016-04-29 08:28] weblogixx commented on #210
You are welcome. Feel free to open new issues when problems arise.

[2016-04-29 08:28] #210 closed

[2016-04-30 11:36] x007xyz opened #212 "Lost connection to webpack-dev-server."
The following error occurs:
`
E:\02-Study\gallery-by-react\node_modules\sockjs\lib\trans-websocket.js:157
      return this.session.close(6000, 'No response from heartbeat');
                         ^

TypeError: Cannot read property 'close' of null
    at WebSocketReceiver.heartbeat_timeout (E:\02-Study\gallery-by-react\node_modules\sockjs\lib\trans-websocket.js:157:
26)
    at null._onTimeout (

[2016-04-30 21:53] ruocaled commented on #166
@nategeier what's solution you found?

[2016-05-02 05:45] weblogixx commented on #212
Hi @x007xyz,

could you provide some more information like:

- Generator Version
- Operating System
- Maybe link to the repo that has the error?

With this information alone there is unfortunately nothing I can say...

[2016-05-02 07:16] Mrlilili opened #213 "require scss is error"
error log:
![image](https://cloud.githubusercontent.com/assets/8361655/14948993/a601216c-1078-11e6-8f17-c3e9d0adb12c.png)

TestComponent.js
![image](https://cloud.githubusercontent.com/assets/8361655/14949035/fe8727d2-1078-11e6-8a06-ae828d50ed0c.png)

Main.js
![image](https://cloud.githubusercontent.com/assets/8361655/14949029/ef93a3c2-1078-11e6-9cb8-05b4904b9f0c.png)

[2016-05-02 09:10] #213 closed

[2016-05-02 09:31] Mrlilili commented on #213
Thank you for your time and sorry for bother you. I got the answer and checked out that some NPM packages installation failure were caused by the network.wish u a good day.

[2016-05-02 19:01] alexsotocx opened #214 "[Question] config module"
I want to know how it works, when you are in a component and import the config
[code]
There is no module **config** or something, how does it recognise where to search? and how does it merge the other config from the config folder?

[2016-05-02 19:05] alexsotocx commented on #214
Never mind... I found it :D Nice way to do the things!

[2016-05-02 19:05] #214 closed

[2016-05-03 06:34] weblogixx commented on #214
;). You are welcome

[2016-05-03 08:52] x007xyz commented on #212
Hi @weblogixx ,

- Generator-react-webpack@3.3.0;
- Operating System is win10;
- Now it's normal before but there is an error,I don't know why

Thanks for your reply

[2016-05-03 09:03] x007xyz commented on #212
npm-debug.log:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\chenzx\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@3.8.7
3 info using node@v4.4.3
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle galleryByReact@0.0.1~prestart: galleryByReact@0.

[2016-05-03 10:56] weblogixx commented on #212
Hi @x007xyz,

could you please provide a link to the repo if this is possible? Unfortunately I cannot say anything about this issue without seeing the code (included modules etc). I have never seen this kind of error before with the stuff I am using the generator.

[2016-05-04 03:05] x007xyz commented on #212
Hi @weblogixx ,

I know why wrong.When I use Chrome(version 47.0.2526.106 m),it is go wrong.But I use other browser,it is OK.So I uninstall Chrome(version 47.0.2526.106 m) and then install the latest version,it is all right.the generator is good.

Thanks for you reply.

[2016-05-04 03:05] #212 closed

[2016-05-09 14:03] bhattkirtan opened #215 "Adding new folder structure in output src folder."
Can you please explain if it possible to modify the project to add more folders under src.? Where can I find the template used to create the folder structure under src?

[2016-05-09 15:02] #215 closed

[2016-05-11 05:14] tusharmath commented on #171
@weblogixx I am facing the exact same issue, but I am not using any of above mentioned packages. —
[code]

The `index.html` file is being created via a custom plugin that I have written. It's highly possible that's the culprit but I am not sure why. My logic is simple — I listen to the `emit` event on the compiler and create my `index.html` file. Once the file is generated I call the `callback`.

[2016-05-12 08:48] weblogixx commented on #171
Hi @tusharmath,

have you tried with the built in index.html? If you need a custom index.html generated, you could also have a look at https://github.com/ampedandwired/html-webpack-plugin.

If not, please provide a link to your repo if this is possible.

Thanks!

[2016-05-12 08:49] weblogixx commented on #207
Closing this as there was no feedback for 3 weeks. Please feel free to reopen this ticket if your problem still persists.

[2016-05-12 08:49] #207 closed

[2016-05-12 21:43] AdamT opened #216 "Question: How to use spies/mocks/stubs within stack, as well as properly Unit test components"
This generator comes with Chai + Mocha but I'm finding that these packages aren't ideal for testing React (could be wrong). I'm finding it difficult to stub component methods or call on state. This may be related to the helper `createComponent` which uses `createRenderer`.

Is there a best practice or example on how to properly unit test components with this stack? This means only testing an exist

[2016-05-13 05:41] weblogixx commented on #216
Hi @AdamT,

the answer would take a bit longer, but just in short:

Chai and Mocha are a perfect team for testing. I got test suites here at work that rely on this toolchain and we got more then 800 tests (counted with flux store tests and utils) that we are using this generator for.

When we implemented the createComponent stuff, react 0.13 was just released and it gave us the shallowRenderer, wh

[2016-05-14 06:06] tusharmath commented on #171
@weblogixx Thanks for responding. There was a ridiculously lame bug in my code. I was using RxJS to listen to the `emit` event using the [fromCallback](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/fromcallback.md) operator which only gets fired once.

I should have used the [fromEventPattern](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/ope

[2016-05-14 09:52] EcutDavid opened #217 "Add `hash` to production bundles file name"
https://webpack.github.io/docs/long-term-caching.html#option-1-one-hash-for-the-bundle

Add this feature can prevent caches from user's browser block our latest bug fix.

[2016-05-15 16:13] sthzg opened #218 "Authoring Wiki pages for common next-steps"
There are usually certain next-steps after setting up the base generator, e.g. adding React Router, certain upcoming packages like css modules, flux implementations (I know there are superseding generators for some of them), react bootstrap or more advanced modifications like setting up code splitting, building various widgets, etc. Following the repo for quite some time I noticed there is lots of

[2016-05-16 16:51] leftjs opened #219 "arrow functions & rest spread syntax is works on OS X, but comes to error on Windows"
there are code and babel config
.babelrc:
[code]
./cfg/dev.js:
[code]

I think of these configs are corrent, just don't know that how windows run it and why it comes to errors, there is my screenshot:
![error](http://ww2.sinaimg.cn/large/71ae9b51jw1f3xpjbqq2vj20mk0waag4.jpg)
please tell me how to fix it, thanks

[2016-05-16 16:54] leftjs commented on #219
ps. I use the generator with redux, [https://github.com/stylesuxx/generator-react-webpack-redux](redux)

[2016-05-17 05:07] weblogixx commented on #218
Hi @sthzg,

nice idea! I am currently refactoring the underlying template for webpack-2 and other changes (mainly for unit testing). I added a section in the readme for faq, but I agree that a real wiki would be better.

Would be happy if you could set ip up. Thank you!

[2016-05-17 05:08] weblogixx commented on #217
Hi @EcutDavid,

that would be a nice addition. Will think about it and eventually include it in the default. Thank you!

[2016-05-17 05:10] weblogixx commented on #219
Hi @leftjs,

I havent really tried the redux generator (it is maintained separately). However, arrow functions and rest/spread should work out of the box, even with the current generator. I am also using it in base and alt.js with no changes in the config. Maybe @stylesuxx is able to help here?

[2016-05-17 06:47] summerGreenTea opened #220 "when i using `yo react-webpack`,there are no files generatored in my project."
there were three questions show when i used command `yo react-webpack`:
Please choose you application name
which style language do you want to use
enable postcsss

ended, no thing happened.  It's so strange.

[2016-05-17 07:46] weblogixx commented on #220
Hi @summerGreenTea,

I seem to have pushed a broken package to npm. Will update in a couple of minutes. Please stand by :(

[2016-05-17 07:48] zzswang opened #221 "You don't seem to have a generator with the name react-webpack installed."
but I've installed it.

[code]

My yo version is: 1.7.0

[2016-05-17 08:17] zzswang commented on #221
~/Workspace/learning/react-webpack  yo doctor

[code]

[2016-05-17 08:30] summerGreenTea commented on #220
@weblogixx    thx !  I installed again. And now, it's working;

[2016-05-17 08:30] #220 closed

[2016-05-17 08:36] weblogixx commented on #220
Sorry for the problems. Tests ran through, I did not test it live. Will have a closer look at the problems and eventually rerelease later this week.

[2016-05-17 08:38] weblogixx commented on #206
It seems that it is in fact related to the coverage generation. Currently, you will have to disable it to get valid sourcemap support. Maybe we can fix this up in the next major release version.

[2016-05-17 08:38] #206 closed

[2016-05-17 08:55] zzswang commented on #221
Ha, problem is solved after I update node.js to V6,

[2016-05-17 11:15] #221 closed

[2016-05-17 17:41] dariusk commented on #141
Just for anyone tracking this, in new versions of React you don't need to define a `history`. `react-router` now comes prepackaged with two history singletons. You can just:

[code]

or

[code]

[More info here](https://github.com/reactjs/react-router/blob/master/upgrade-guides/v2.0.0.md#using-history-with-router).

[2016-05-19 06:36] rukshn opened #222 "Error in starting"
When running the npm run command after freshly installing react webpack generator I'm getting the following error. Any idea how to fix it?

[code]

[2016-05-19 06:44] #222 closed

[2016-05-20 21:19] yipcma opened #223 "component generator appending "Component" to component name"
is this desired?

[2016-05-20 22:12] weblogixx commented on #223
Yes, it is. This will get removed in the next major version

[2016-05-21 09:00] be-codified opened #224 "Using router"
Hi,

thank you for the great pack. Is there any way I could use router with navigation links? I kind of don't know how to implement it.

[2016-05-21 09:34] yipcma commented on #223
look forward to the update. appr. when would that come out? also would there be a yo command to remove a component and its associated styl and test?

[2016-05-21 09:38] yipcma commented on #224
how about `react-router`? you can `npm i --save-dev react-router` and `import {Router, Route} from 'react-router'`.

[2016-05-21 09:39] yipcma opened #225 "yo command for removing component"
Would it be desirable to have a yo command to remove a component and its associated styl and test?

[2016-05-21 09:47] be-codified commented on #224
Thank you for your reply. I tried with this one but I get stuck at

    render((
      <Router history={hashHistory}>
        <Route path="/" component={App}/>
        {/* add the routes here */}
        <Route path="/repos" component={Repos}/>
        <Route path="/about" component={About}/>
      </Router>
    ), document.getElementById('app'))

as your pack is having this a bit different:

[2016-05-21 09:55] yipcma commented on #224
you basically can save the `<Router />` component to a `const router` and just render the `router` instead of  `<App />`

[2016-05-21 10:00] be-codified commented on #224
But I also need to render `<App />` as it holds `./components/Main`.

Hm, or I can render router in a separate file, like you are doing with `index.js`?

[2016-05-21 10:15] yipcma commented on #224
the router should go to where the ReactDOM render goes.  `<App />` already goes to the default route, so shouldn't be a problem. Also, `import {browserHistory} from 'react-router'` for a hash-less routing.

[2016-05-21 11:11] be-codified commented on #224
In `index.js` I did it like this:

    // Render the main component into the dom
    ReactDOM.render(<App />, document.getElementById('app'));

    // Render router into dom
    ReactDOM.render((
        <Router history={hashHistory}>
            <Route path="/" component={App} />
            <Route path="/sign-up" component={SignUp} />
        </Router>
    ), document.getElementById('app'));

An

[2016-05-21 12:16] yipcma opened #226 "src/actions src/stores generated"
shouldn't they be associated only with the generator-react-webpack-redux?

[2016-05-21 15:01] zhump opened #227 "html-webpack-plugin question?"
hi , I try to add html-webpack-plugin  , I have a problem , look
1.
**dev.js**
add code
[code]
2.
**src/index.html  move to  src/temp/index.html**
![f341cac7-264f-4d7d-a38a-17e4dc20c5df](https://cloud.githubusercontent.com/assets/7962067/15449089/8c666770-1fa6-11e6-98fe-efa257d3f90e.png)

3.
npm start

[code]

![ad29e845-f3d3-4d87-be4c-dc94205acd41](https://cloud.githubusercontent.com/assets/79620

[2016-05-21 17:55] weblogixx commented on #223
Hi @yipcma,

We are currently working on the underlying template first. If possible I want to release it with support for webpack-2. So basically I cannot say it. Maybe two weeks, maybe two months.

The current version is pretty stable, but we will have some changes for newly generated projects in the pipeline:

- more help for newly generated projects (maybe a wiki)
- Styling will not be in its o

[2016-05-24 05:21] weblogixx commented on #226
Hi @yipcma,

the reason they are always included is users should be able to use flux features if they want to. Aliases for these folders are also generated, so you could, for example, switch a project generated by generator-react-webpack to generator-react-webpack-alt (or redux) without problems.

Hope this helps.

[2016-05-24 05:21] #226 closed

[2016-05-24 05:22] weblogixx commented on #225
Hi @yipcma,

that would be possible. However, there could be stuff missing (e.g. the user has already removed the associated styles or moved the component). Will have a look at it and eventually include it in the next major release.

[2016-05-24 05:22] #225 closed

[2016-05-24 05:25] weblogixx commented on #224
Hi @be-codified,

there is another example located in https://github.com/newtriks/generator-react-webpack/issues/141#issuecomment-143199842. Hope this helps. Infos are a bit older, but excluding the browserHistory (as seen in this thread) it works pretty well.

We will eventually add a wiki to show common configurations, this would be one of them.

Hope this helps.

[2016-05-24 05:25] #224 closed

[2016-05-24 05:25] #223 closed

[2016-05-24 05:29] weblogixx commented on #227
Hi @zhump,

are there any errors in your browsers console? Have you tried it without any configuration options?
I do not use it for myself, but it seems that it should work out of the box for most webpack configurations.

[2016-05-24 07:33] zhump commented on #227
If I don't add html-webpack-plugin , the project can run .

but i need  html-webpack-plugin to do something , after adding  it, the project can't run ,there is no errors messages in   my  browsers console .

help me ....

[2016-05-24 11:21] weblogixx commented on #227
Hi @zhump,

could you provide a link to the repo? Will need a code sample to check that.
Thanks

[2016-05-25 06:33] rukshn opened #228 "Using react router breaks the app"
Hi, I'm using react router together with this yeoman generator. So when using a react router with multiple nester routers such as this,

`        <Route path="/story/:sid" component={StoryComponent} />
`

I get the following error when a URL such as this '/story/1' is loaded on the browser.

`http://localhost:8000/story/assets/app.js 404 (Not Found)`

I guess the problem is here,

**Changing this

[2016-05-25 08:48] weblogixx commented on #228
Hi @rukshn,

thank you for your feedback. This is a known problem. We changed the url to relative to make the output work correctly in subdirectories. Unfortunately this clashes with react router. We will revert the setting back to absolute mode (as you have suggested, too) in a next patch version.

[2016-05-25 11:50] rukshn commented on #228
Hi @weblogixx if it's a known issue then it's fine I guess. Another thing I noted is that it also breaks hot reloading. Getting the following warning at console.

[code]

[2016-05-25 12:19] weblogixx commented on #228
Hi @rukshn,

this is related to the same error :(. Please remove the "." in cfg/base.js:

[code]

Hope this helps.

[2016-05-26 16:44] galaa2011 opened #229 "when i use "npm run serve",the following error occurs,but "npm run serve:dist" is ok."
The following error occurs when I start the server after initial install:
_http://localhost:8000/assets/app.js 404 (Not Found)_

[code]

[2016-05-27 01:37] galaa2011 commented on #229
Wait on line

[2016-05-27 06:24] weblogixx commented on #229
Hi @galaa2011,

could you give some more information like (OS, Node-Version etc?). Could you also please provide a link to the repository that fails?

[2016-05-27 07:09] weblogixx commented on #228
Hi @rukshn,

this was fixed with react-webpack-template@1.7.0. After upgrading your generators dependencies (npm update -g with global install), new projects will have this back as default.

Thanks again for your input.

[2016-05-27 07:09] #228 closed

[2016-05-27 07:13] galaa2011 commented on #229
Hi @weblogixx ,
`OS: win7 32bit\Node: v6.2.0`
And i pushed my project to github.The link to repository:
https://github.com/galaa2011/react-webpack.git

[2016-05-27 07:27] weblogixx commented on #229
Thanks, I will have a look at it and report back.

[2016-05-27 07:35] weblogixx commented on #229
Just tried it with node 4, 5 and 6.2, it starts correctly with every system for me.
Did you do any special stuff before starting (e.g. installing with v5, then installing v6) or something like that?

What happens when you run npm install again? Maybe one of the project dependencies was not installed correctly (or at all)? We had such a problem with some guys that where behind the great (fire)wall

[2016-05-27 10:06] galaa2011 commented on #229
I don't know the reason,but i solve it by installing `node4.4.5`.
Thanks a lot for your help !

[2016-05-27 11:09] weblogixx commented on #229
Strange issue, but thanks for your feedback anyways :).

[2016-05-27 11:09] #229 closed

[2016-06-02 14:58] alexbahl opened #230 "Project generates files outside of directory"
I just installed this generator and when I run it inside a given directory it starts generating some of its files outside of the directory into its parent directory.

Example:
mkdir my-super-cool-project && cd my-super-cool-project
ls
Desktop/my-super-cool-project
yo react-webpack

It puts some of the files in the project folder and dumps other files into the parent directory, in this case the Des

[2016-06-02 15:49] alexbahl commented on #230
Seems like it is only doing it when you are on the Desktop in OSX. I moved to the documents folder and made a new folder and ran the generator and it worked correctly.

[2016-06-02 22:25] kcgunn opened #231 "Node server will not start"
Getting Errors upon trying to get up and running with this Generator. I am using node v4.4.3 and npm v3.9.3, getting a Exit Status 1 with no real other error messages when running npm start and also npm run serve. Says Failed at the serve script 'node server.js --env=dev'. I am running on Windows 7 professional SP1, windows_NT 6.1.7601. Any guidance is appreciated.

[2016-06-03 16:56] kcgunn commented on #231
I'm guessing this is a Windows issue...code works fine on my MBP

[2016-06-06 07:58] weblogixx commented on #231
Hi @kcgunn,

I am currently running the generator on Win 7 with node 4.4, there are no problems that I can see here. Will test it with 4.2 tomorrow.

[2016-06-06 07:58] weblogixx commented on #230
@alexbahl,

maybe this is related to some kind of symlink error? Will investigate in this.

[2016-06-07 17:36] dannguyen commented on #230
I tried doing this in a subfolder in `/tmp` and had the issue of everything installing inside of `/tmp`

[2016-06-09 05:15] weblogixx commented on #230
Hi @dannguyen,

interesting, I do not have the same problem in /tmp (latest osx, node installed via nvm, version 6.2, with generator and yeoman installed globally).

Could you please send me your npm and node versions? Also, did you install node globally (e.g. from nodes website) or via a version management system (nvm?). Thank you for your answers.

[2016-06-09 07:49] dannguyen commented on #230
@weblogixx I should have mentioned...when I switched to a subdirectory in `~/Downloads` and ran the generator then, things were placed as they should be, inside the subdirectory. I would have said that the bug I had with `/tmp` would seem to be the result of installing from a top-level path versus a user-level path if it were not for [alex's earlier comment](https://github.com/newtriks/generator-r

[2016-06-10 18:13] tylerjryan opened #233 "index.html has broken path to assets/app.js"
In `src/index.html`, the `app.js` file is sourced by this line here:

[code]

When opening the `dist/index.html` file after running `npm run dist`, I am seeing this error in the console:

[code]

I fixed this by simply changing the src path to:

[code]

Notice the addition of the "." in front of `/assets`.

[2016-06-11 18:26] JimTheMan opened #234 "Watch Flag for Unit Tests"
I like to do "dual shell development" that is basically TDD with one shell running tests with a watch flag and one shell running npm start.

It would be nice to have a task for unit tests that watches files:
`npm test:watch`

[2016-06-11 18:27] JimTheMan opened #235 "E2e Tests with Protractor"
It is even possible to use protractor in React projects? If so, this gives an extra layer of testing to fill in any cracks that may be missed by unit tests. :)

[2016-06-11 22:35] weblogixx commented on #235
Hi Jim,

yes it is possible. Personally I have used webdriver.io instead of protractor, but both need to just be set up as with any other project.

However, we will not include it into the base generator, as it should be as slim as possible.

[2016-06-11 22:36] weblogixx commented on #234
Hi Jim,

this task already exists, even the name is the same. Just use npm run test:watch to use it.

[2016-06-12 15:53] JimTheMan commented on #234
ah true. Definitely should be in the docs :)

[2016-06-12 15:53] #234 closed

[2016-06-12 15:57] JimTheMan commented on #235
ok good to know. thanks.

[2016-06-12 15:57] #235 closed

[2016-06-12 16:03] JimTheMan opened #236 "Can't Find app.js When Deployed"
I make a dist build by running this:

`npm run dist`

I then push that to master. Then I push it to my gh-pages branch on github like this:

`git subtree push --prefix dist/ origin gh-pages`

I can see all the files in the gh-pages root as they should be:
https://github.com/JimTheMan/React-Webpack-Project/tree/gh-pages
![screen shot 2016-06-12 at 11 59 33 am](https://cloud.githubusercontent.com/as

[2016-06-12 19:44] davidpatters0n opened #238 "Executing yo react-gen after setup returns: throw er; // Unhandled 'error' event"
I installed both:

[code]

Then ran: yo react-gen after entering the app details I am returned:

      throw er; // Unhandled 'error' event
      ^
AssertionError: Trying to copy from a source that does not exist: /usr/local/lib/node_modules/generator-react-gen/generators/app/templates/.env
    at EditionInterface.exports._copySingle (/usr/local/lib/node_modules/generator-react-gen/node_modules/me

[2016-06-13 05:06] JimTheMan commented on #236
I seemed to have been able to fix the build script by going into cfg/base.js and changed line 18:

` path: path.join(__dirname, '/../dist/assets'),`

to this (extra slash on the end of assets):

` path: path.join(__dirname, '/../dist/assets/'),`

Only then does it work. But this is a strange thing for it to happen to only me. Surely I am not the only one deploying my files. So then why is this hap

[2016-06-13 05:49] weblogixx commented on #233
HI @tylerjryan,

we just changed the path of assets/app.js to be absolute instead of relative. This is needed because when using react router with deep routes, app.js cannot be found. I will have a look at how to fix this for both dev and live versions.

[2016-06-13 05:51] weblogixx commented on #236
Hi @JimTheMan,

seems to be related to https://github.com/newtriks/generator-react-webpack/issues/233.
I will have a look at this and eventually fix it in one of the next versions.

[2016-06-13 05:51] #236 closed

[2016-06-13 05:52] weblogixx commented on #238
Hi @davidpatters0n,

sure you are on the correct project? This does not seem like code generated by generator-react-webpack. Maybe you are using some fork that does not point to its own github repo issues correctly?

[2016-06-13 11:50] davidpatters0n commented on #238
Ahaa, yes thanks. My apologies. I was running: `yo react-gen` and was supposed to be running: `yo react-webpack`

[2016-06-13 11:50] #238 closed

[2016-06-13 15:56] JimTheMan commented on #236
Hmm. It seems like I am getting the error again even with the extra slash. This in an incredibly serious issue, and I'm amazing that other people aren't upset about this since this generator can never be used on anything more than a throw-away project if you can't publish a finished project.

If no one is concerned that you can't deploy a project then I guess it's time to look for a new React gene

[2016-06-13 16:15] JimTheMan commented on #236
Had to also take out the / from the path in index.html

Changed

`<script type="text/javascript" src="/assets/app.js"></script>`

to

`<script type="text/javascript" src="assets/app.js"></script>`

[2016-06-13 16:19] weblogixx commented on #236
Hi Jim,

just received your original comment. There are some things wrong with the way you think creating dist versions work. You should never use a webpack dev server for creating live pages.

All that matters is the dist version of app.js. Modt people do not even use the included app.js, but upload their projects for usage with apache, lighthttp or even cdns. So it is not as big of a bummer that

[2016-06-13 16:45] #216 closed

[2016-06-13 16:48] weblogixx commented on #162
@stylesuxx: I know this has been open for a long time. Support for this will finally be there when the new version of the template is ready. It already supports css modules (named ones, so you may still use regular css) per default. I am currently working to get paths straightened for the new version of the generator, the styles directory will also vanish (excluding legacy projects, which will app

[2016-06-13 16:48] #162 closed

[2016-06-13 16:51] weblogixx commented on #218
Hi @sthzg,

I will setup a github page project for this next week. Still interested in doing some editing there?

[2016-06-13 16:53] weblogixx commented on #230
@dannguyen,

thank you for your detailed report and help. I am still not able to reproduce this error, but wont close it for now. I have some other systems where I may test it, but had no problems so far. It could also be related to something yeoman-internal, will have a look if there is a known issue there.

[2016-06-14 01:04] tylerjryan commented on #233
Thank you!

[2016-06-14 10:18] sthzg commented on #218
@weblogixx yes, definitely. Sorry for not responding earlier, I remember thinking to wait for the refactored version but forgot to reply here.

[2016-06-14 12:25] weblogixx commented on #218
Hi @sthzg,

no problem, I am kind of slow currently. Will push a new version to master tomorrow. This will have fallback-support for old 3.x projects, as well as the new structure. Would be nice to see what you think about it... Will give you an update when its pushed.

[2016-06-15 03:16] dannymk opened #239 "Testing default properties"
[code]

It would be great to have examples for testing default properties.

Out of the box I use:

expect(component.props.children).to.equal('Carlos');

I would expect to test this way instead:

expect(component.props.name).to.equal('Carlos');

[2016-06-15 08:29] weblogixx commented on #239
Hi @dannymk,

the next version of the generator will feature [enzyme](http://airbnb.io/enzyme/), which will make stuff like this much easier to use. This will provide a nicer api for getting and testing props.

[2016-06-15 13:52] weblogixx commented on #218
Hi @sthzg,

I have just uploaded a release under the beta tag. You should be able to install it via npm install -g generator-react-webpack@beta. It uses the new version 2 (also currently beta) of the template, including webpack 2 support and cssmodules. There are still some bugs and missing features, but it should be (relatively) stable. It is also backwards compatible to the current version of th

[2016-06-15 14:24] sthzg commented on #218
👍  looking forward to checking the new template and generator (and also to check up on the improvements that Webpack 2 offers over the old version). Are there particular areas where feedback / testing is especially relevant? (as I am moving apartment this weekend I am not sure how much time I'll have this week)

[2016-06-15 14:29] weblogixx commented on #218
Hi @sthzg,

there are overall improvements everywhere. I made some effort to clean old code up in the template - the generator should profit automatically from this. The webpack config for instance was redesigned to use es2015 classes, as they are easier to extend. CSS-Modules support was added there too, but only for files that use the pattern myname.cssmodule.css (or .less etc).

I am still main

[2016-06-16 12:19] Trickass opened #240 "Browser keeps loading "old" version of js files"
When running `npm start`, a browser is launched to `http://localhost:8000/webpack-dev-server/` (which is expected).

Then, when changing anything in code, for example in the `Main.js` file, nothing happens in the browser.
Worse even, when refreshing the browser window, the changes made to the source code are not reflected at all.

Is there anything else I need to do to get this working? Extra watc

[2016-06-16 13:08] weblogixx commented on #240
Hi @Trickass,

which version of the generator do you use? I have expected something like this too, but only with the current beta (where it is fixed, too). Make sure your webpack configuration does not have a key of ```cache: true``` set.

In the current stable, watch files in the cfg directory, in the beta it is located in config/webpack.

[2016-06-16 13:13] Trickass commented on #240
I've only installed the generator today via `npm install -g generator-react-webpack`.
It seems to be using version 3.3.2.

I've tried setting the `cache: false` as it was indeed on `true` in the dev config, but seems to make no difference.

[2016-06-16 13:37] weblogixx commented on #240
Hi @Trickass,

I just tested it with a newly generated project (even uninstalling the generator and reinstalling it again) and did not have any problems. Could you give me some more information?

- Operating System
- Version of node you run on (and install type, e.g. native or nvm/nvwm)
- Version of npm

Also, altering the the cache key is not required (at least under osx), it does not have an imp

[2016-06-16 13:46] Trickass commented on #240
I'm running Windows 10 with node (native, i think?) v6.2.1 and npm version 3.9.3
Opened the page using Chrome.

Running (`npm start`) provides following result:

![capture](https://cloud.githubusercontent.com/assets/1467263/16118752/d1b58b8a-33d8-11e6-90cf-f2b04e430714.PNG)

[2016-06-16 13:59] weblogixx commented on #240
Seems fine from a setup side of things. You do not need to run anything else, just a regular npm start.
Unfortunately I do not have a windows 10 vm to test it, will take some time. There are no problems on Windows 7 and I did not get any reports that there are known problems with Win10.

I will check it, but it will take some time. Did you get any output in your command line when altering main.js?

[2016-06-16 14:04] Trickass commented on #240
Nothing is added there, so I guess there's something going wrong on that level already...

Output from `npm start` command:

[2016-06-16 14:13] weblogixx commented on #240
In this case it does not seem to be a problem with the generator, but maybe with the webpack dev server. There are some known issues from windows 8/10 users that I found here: https://github.com/webpack/webpack-dev-server/issues/155.

For example, if you got any special chars in your absolute path you seem to be screwed...
One user suggested to use git bash for windows where the problem (possibly

[2016-06-16 14:28] Trickass commented on #240
I tried running it in git bash, but got another error - which I get in cmd now as well, even after re-running the generator.
I really don't want to give up, but I'm getting close :D ;)

![capture](https://cloud.githubusercontent.com/assets/1467263/16120273/2ed706a8-33df-11e6-830a-4b532ce9d22d.PNG)

[code]

[2016-06-16 14:36] weblogixx commented on #240
Do you have any special chars in your path? If you have, try to move to project to a main folder (e.g. c:) directly and use folder naming without special chars (e.g. whitespaces, slashes...). Have a look if it works on this folder (like, move it to c:\test). Maybe this may help.

[2016-06-16 14:43] Trickass commented on #240
I retried from "C:\Projects\Test", so no special chars there.

What I **did** notice just now, when re-running the generator, is this:
[code]

Could it be that a windows alternative for this should be installed instead?

[2016-06-16 14:50] Trickass commented on #240
All right!
I've found the issue!

On https://webpack.github.io/docs/troubleshooting.html I found this:

I changed line 23 in cfg/base.js to `contentBase: '.\\src\\'`, which seems to do the trick!!

[2016-06-16 16:51] weblogixx commented on #240
Hi,

I will add a cross system fix for this. Should be easy to use /on unix(likes) and \ for win. Thank you for the hint!

[2016-06-16 19:29] Trickass commented on #240
No problem. Thanks for your help as well.

[2016-06-17 06:22] weblogixx commented on #240
Hi @Trickass,

those are located in a dependency [here](https://github.com/weblogixx/react-webpack-template)

[2016-06-17 19:57] sthzg commented on #218
The timing couldn't be better. I've started a new project based on the V1 generator a few days ago. That will be a good opportunity to compare the V1 and V2 setup. Skimming over the new Webpack Configs the code looks much cleaner now. Classes seem like a perfect fit 👍 .

I need to check what it's like developing without hot reloading. I've encountered Flux implementations not supporting HMR. Howev

[2016-06-19 20:53] weblogixx commented on #218
Nice to hear you are satisfied with the current setup... for the first at least :).
It seems I already added back hot-reloading, so this should not be the a problem anymore... even if I cannot remember when I did it...

The additional entry points feature sounds good. Could you point me to an example of what you are doing here?

When developing a library, I mostly just make an im/export file in sr

[2016-06-20 14:42] sthzg commented on #218
What I currently do is adding a new `lib` env to the generator. The relevant config in `cfg/lib.js` looks like: https://gist.github.com/sthzg/192abdc8731db6e351c9d9b3d1a4c690

`cfg/base.js` needs a little modification in `output`

[code]

`npm run lib` will create a `commons.chunk.js` as well as a `sidebar.entry.js`, and a `helloworld.entry.js`. The export to a library target of `var` will stick t

[2016-06-21 02:38] jerrygg19930312 opened #241 "npm run test error"
after I use "yo react-webpack" to generate a new project.I did not modify any code.When I run npm run test,I see the error message D:\work-dev\react-gallery\gallery-by-react\node_modules.npminstall\di\0.0.1\di\lib\injector.js:9
      throw error('No provider for "' + name + '"!');
      ^

Error: No provider for "framework:mocha"! (Resolving: framework:mocha)
    at error (D:\work-dev\react-galler

[2016-06-21 06:02] weblogixx commented on #241
Hi @jerrygg19930312,

seems like there are not all dependencies installed correctly. Karma-Mocha seems to be missing. Please run npm install again and look if it installs the missing dependencies. If this does not work you may try one of the following methods:

- Delete node_modules and try it again
- If that also does not work, try cleaning your npm cache (npm cache clean) and running npm install

[2016-06-21 07:19] #240 closed

[2016-06-21 07:20] #239 closed

[2016-06-22 08:48] sthzg opened #242 "Support Generating CSS-File in Component Directory"
Would you consider adding an option to the component sub-generator that would create the style-file (css, scss, less, ...) inside the component directory itself rather than the `.src/style` directory?

E.g. `yo react-webpack:component my/namespaced/components/name --stylesincompdir`

[2016-06-22 08:55] sthzg opened #243 "Support Generating Component Without Style File"
Would you consider adding an option to the component sub-generator that would create the component without a style file (css, scss, less, ...)?

E.g. `yo react-webpack:component my/namespaced/components/name --nostyle`

[2016-06-22 09:09] weblogixx commented on #242
This will be the standard in version 4 (testable via the npm beta tag). Older projects will still add to the styles directory for backwards compatibility.

[2016-06-22 09:14] sthzg commented on #242
Oh great, I was still looking more into the new template project instead of the new generator as a whole. Thanks for clarifying.

[2016-06-22 09:14] #242 closed

[2016-06-23 20:51] sthzg opened #244 "Trailing space in template 4/components/Base.js"
On 4.x, components created with the component subgen have an additional space on line 7, which by the default settings trigger an error `7:1  error  Trailing spaces not allowed  no-trailing-spaces`.

[2016-06-23 21:07] sthzg opened #245 "npm install @beta doesn't include utils directory"
[code]
Looking at the `package.json` and browsing the [npm docs regarding the `files`](https://docs.npmjs.com/files/package.json#files) attribute my first guess would be that `utils` should be part of that list.

[2016-06-24 08:16] AidanDai opened #246 "Error in supportting PostCSS plugins"
I do surely  that, but error.
[adding-postcss-plugins](https://github.com/newtriks/generator-react-webpack#adding-postcss-plugins)

error
[code]
firstly, add options cfg/base.js, but it isn't work.
I set option in default.js, because options are generated  in default.js following when I try again.

cfg/default.js
[code]

add option

[code]

Did I understand that I was wrong？
if not, what is why?
p

[2016-06-24 12:08] mmintel opened #247 "Children not loading before hot reload was triggered"
hi there,

first off: nice project! thanks!

I have only one problem: my contents in {this.props.children} are not loaded initially. First when I make a change to a file to trigger a hot reload I will see the contents.

My first thought was that it had to do with react-router but every bug related to that was fixed before.

That's the code of my main.jsx:
[code]

Do you have any idea?

[2016-06-24 12:37] mmintel commented on #247
just found out by myself: I placed the Router in Main.js but it has to be placed in index.js

[2016-06-24 12:37] #247 closed

[2016-06-24 15:43] sthzg opened #248 "Configuring Webpack loaders for CSSModules + Preprocessor"
Probably belongs to the [template repo](https://github.com/weblogixx/react-webpack-template/tree/2.x)

After installing the 4.x generator with CSSModules + Preprocessor (e.g. LESS) and creating a new component the component template creates

[code]

[code]

Rendering will fail with an exception of `css module is undefined`, because the loaders in `cfg/base` are configured for for the `*.less` file

[2016-06-24 15:57] sthzg commented on #248
Moved to https://github.com/weblogixx/react-webpack-template/issues/32

[2016-06-24 15:57] #248 closed

[2016-06-25 04:43] #246 closed

[2016-06-27 13:13] sthzg opened #250 "Providing sub-generator for container components"
What is your opinion on adding a sub-generator that creates container components to the 4.x-gen?

[code]

I find it useful and lately try to bundle internal state and business logic exclusively in container components (or, if using Flux, registering to stores inside containers).

I don't have a strong opinion on `FoobarContainer` being created inside `src/components`, though I usually prefer havin

[2016-06-27 13:53] stylesuxx commented on #250
My sub generator does containers => https://github.com/stylesuxx/generator-react-webpack-redux/tree/master/generators/container
It is a bit redux specific, since I am connecting a container to action dispatcher and reducer,...

I decided to put them into a separate directory under *src*. Also by default I render the Main Component.

I like the Idea of generating a component with the container - th

[2016-06-28 10:34] v-komarov-parc commented on #214
The quastion still actual.
Can anybody explain how it works?

[2016-06-29 07:24] daisyHawen opened #251 "npm start Error : module.js:327"
After I yo react-webpack React-gallery , I use the "npm start" to test it ,it throws an error.
Error: Cannot find module 'core-js/fn/object/assign'
Please tell me why?
the specific log is as follows:

`
$ npm start

module.js:327
    throw err;
    ^

Error: Cannot find module 'core-js/fn/object/assign'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module

[2016-06-29 08:51] daisyHawen commented on #251
After I reuse the command : yo react-webpack React-gallery
I have done this problems

[2016-06-30 05:56] weblogixx commented on #251
Hi @daisyHawen,

does that mean the problem disappeared? This may sometimes be a problem with the npm package download not downloading all packages correctly. In this case, a simple ```npm install``` should install the missing packages. We see this problem often when users are behind the great wall of china....

[2016-06-30 05:57] weblogixx commented on #244
Hi @sthzg,

just merged your pull request. Thank you for the hint!

[2016-06-30 05:57] #244 closed

[2016-06-30 05:58] weblogixx commented on #227
Closing this as there was nothing new in more than one month. Feel free to repopen this issue (or create a new one) if your problem still persists.

[2016-06-30 05:58] #227 closed

[2016-06-30 07:26] weblogixx commented on #245
@sthzg,

thanks for the feedback, just updated the beta tag with a (hopefully) running version and files included :)

[2016-06-30 07:26] #245 closed

[2016-06-30 07:28] weblogixx commented on #219
@leftjs: Closing this as it seems to have to do with a foreign project and there are no news for one month. Please feel open to report the bug on the redux version of the generator (or reopen an issue if it seems like this generator is the error source).

[2016-06-30 07:28] #219 closed

[2016-06-30 07:34] weblogixx commented on #250
Hi,

I am not completely sure about this. I also plan to add such a container feature for the alt version (using alt-container as a base). However, I do not know if it makes sense for regular projects (as you could also add one "regular" component and one stateless to archive the same goal).

However I will implement the nostyle flag as it makes sense for many basic components.

[2016-06-30 07:35] weblogixx commented on #231
@kcgunn, I do not get any problems on different machines (and operating systems). There is no news for about a month, so I will close this for now. However, feel free to open another issue if such a problem still arises.

[2016-06-30 07:35] #231 closed

[2016-06-30 08:15] sthzg commented on #250
I agree, with the nostyle flag there is little left to do (1. importing the container and 2. modifying render). I thought about passing the component creation down to the component subgen and then just modify the container component by means of some AST-parsing (which would have been the core task of the container subgen), but I also understand the argument that it may add too little benefit. Feel

[2016-06-30 14:03] weblogixx commented on #250
Hi @sthzg,

thank you for the feedback, will do so and just implement the nostyle switch. Feel free to submit a pr with container logic if you really need it.

[2016-06-30 14:03] #250 closed

[2016-07-01 19:38] #243 closed

[2016-07-02 10:37] sthzg commented on #250
@weblogixx thanks for the nostyle switch! That's awesome.

I will try to write the container subgen as a reference implementation for this idea https://github.com/sthzg/generator-subgenext (don't know how it will work out yet). Would it be okay if I used `contrib-subgen-react-webpack-container` as a package name?

[2016-07-02 16:50] sthzg opened #252 "4.x -- npm ls will produce npm errors for peer deps"
One thing I've just (and I don't know if you have an influence on it) is that running `npm ls` on the 4.x generator will produce npm errors:

[code]

They are obviously dependencies from dependencies, however I don't have this problem when running `npm la` on the stable generator.

[2016-07-04 05:26] weblogixx commented on #252
Hi @sthzg,

thank you for the feedback. Yes, there are some problems with peer deps not loading correctly. I removed isparta-instrumenter-loader (which is deprecated) in favour of isparta-loader, which makes the first problem go away. Webpack-dev-Server still has a strange dependency baked in (there already exists an issue in the repo for this). Karma-Webpack does not have official support for web

[2016-07-05 10:05] masterfung commented on #230
I had the same issue where it would install one directory up but adding a dot at the end seemed to resolve my issue when I cd and run the generator

[2016-07-10 21:00] sthzg opened #253 "V4 -- path problems for generated components"
I will add a unit test to illustrate this after posting the issue. To manually recreate:

[code]

As illustrated, when generating components wo/ a nested namespace (i.e. opposed to `yo react-webpack:component my/hello`) it will print two slashes.

[2016-07-12 09:28] sthzg opened #255 "V4 -- Generate styleName attribute only when appropriate"
Currently the `styleName` attribute is added even when

- `cssmodules` is set to false in `.yo-rc.json`
- the component is generated with `--nostyle`

[2016-07-12 19:15] dannymk opened #256 "Testing default props"
Is there an example anywhere on how to test default properties?

<pre>
'use strict';
import React from 'react';
require('styles//Dan.less');
class DanComponent extends React.Component {
  render() {
    return (
      <div className="dan-component">
         {this.props.name} is now here!
      </div>
    );
  }
}
DanComponent.displayName = 'DanComponent';
// Uncomment properties you need
DanCompo

[2016-07-13 01:33] dannymk commented on #239
Has this been updated?  Is enzyme supported now?
Any examples?

[2016-07-13 05:48] weblogixx commented on #239
Hi @dannymk,

it is supported in the current beta (npm install -g generator-react-webpack@beta), but currently not implemented in the stable version. We have to wait for webpack-2 to get stable to release it.

We are currently adding some new features (for example adding new components without generating styles, a cssmodule setup etc). Hope we will be able to release soon.

About the enzyme setup:

[2016-07-13 14:16] dannymk commented on #239
I will have to make due with whatever you guys provide.  I am teaching a local open source development group and really wanted to have these tests done before Monday.  Keeping my fingers crossed that we will have this by the end of the year :-)  Thank you for your feedback.

[2016-07-14 05:35] weblogixx commented on #239
Hi @dannymk,

you could also go another way and use the generator 4 (beta). I got some projects running with it, it is (nearly) stable, with just a few edge cases (e.g. postCSS setup does not work currently). It has enzyme backed in as default, which makes testing much smoother.

Another possibility would be to use react-addons-testutils. You can see how to test a default prop in the stackoverflow

[2016-07-14 16:58] zhouyu1993 opened #257 "'npm run dist' erro !"
+ 1 hidden modules  ERROR in Cannot find module '../scope'

what is '../scope' ?

And how can I 'webpack' ?

[2016-07-14 18:27] sthzg commented on #256
Hi @dannymk, the shallow render helper lets you make assertions on what your component renders, so it is already one level too deep in the tree to give you access to the outer props.

I suggest you take a look at Enzyme, which is endorsed on the official FB docs like this

It is one of these packages where skimming over the api just makes you happy.

It's also integrated into the V4-generator, whi

[2016-07-15 08:27] weblogixx commented on #257
Hi @zhouyu1993,

sometimes there are problems when using npm behind the wall. In this case, it usually helps to just run npm install again to fetch any missing packages. You do not need to run webpack by itself, ```scope``` is a folder inside the webpack dependency that was not correctly fetched in your setup.

[2016-07-15 19:49] dannymk commented on #256
Excellent, thank you.  I can definitely use this on Monday.

[2016-07-15 19:49] #256 closed

[2016-07-17 21:56] dannymk commented on #239
Well, for one it would be great to have out of the box working examples of actual ES6 components being tested.  Even if it is just one.  I tried about a month ago to give this same presentation and hit all kinds of problems when trying to test default properties.  Also, there is no clear upgrade path for someone using the generator.  Dependencies are broken so examples fail.  Does that help?

[2016-07-17 22:50] dannymk commented on #256
I wish I could just install it into my projects:

ERROR in ./~/enzyme/build/react-compat.js
Module not found: Error: Cannot resolve module 'react/addons' in /home/daniel/Development/Web/Axis901/node_modules/enzyme/build
 @ ./~/enzyme/build/react-compat.js 40:16-39 41:46-69

Installing it from npm (This package is deprecated):

0.9.1-deprecated is the latest of 3 releases

does not look good either

[2016-07-18 00:15] LingboTang opened #258 "It takes forever to install the generator-react-webpack on Mac OS"
I'm using Mac OS X, when I `npm install -g generator-react-webpack`, it takes forever to install and will affect my entire network traffic in my mac. When I install sub package one by one, I didn't encounter the problem.  Anyone knows what happens?

[2016-07-18 04:21] LingboTang commented on #258
It takes me in total 20 min to install the pack with a good network traffic.

[2016-07-18 04:21] #258 closed

[2016-07-18 05:19] weblogixx commented on #256
Hi @dannymk,

you should use react-addons-test-utils directly, react-addons is not an official react module. Maybe it does not provide the testutils in a current version?

It should be enough to:

- Add enzyme (like you already did)
- Add react-addons-test-utils directly
- alter your cfg/test.js to look like this:

[code]

Have a look at the externals section, this is required to get it running. A

[2016-07-18 05:25] weblogixx commented on #239
Hi @dannymk,

what do you mean when saying there is no clear upgrade path?
For other stuff (like adding react router support, using PostCSS, ...) there will be a Wiki for version 4.0.

I use this generator on a daily basis in a couple of projects, none of them have broken dependencies (at least not in the stable version, we are currently working on the next one that really has some missing deps...

[2016-07-18 14:23] dannymk commented on #239
OK, this helps.  When and if I run across an actual problem I will report them here.  Thank you for your help and support.

[2016-07-18 20:34] sthzg commented on #255
@weblogixx I've poked around a little and think that there are a few logical branches to support. `+` and `-` indicate the current support:

[code]

I think there needs to be a new flag added to the settings that can be used to branch between 2) and 3), for example:

[code]

And then there is the issue of implementation.

It can be packed all into one template file (`Base.js`, `Stateless.js`). Pro

[2016-07-18 21:38] dannymk commented on #256
Much better. Thank you.  Configuration in "cfg/test.js" helped.

[2016-07-19 13:48] weblogixx commented on #255
Hi @sthzg,

will have to think about it. Basically, if we want to use this, we should really create some simple default components with a maximum of one if statement (e.g. stateless, statefull, with cssmodules, without it...). Should be relatively easy to test, because the test suite can already handle different flags in its current incarnation.

[2016-07-19 16:43] chrishutchinson opened #259 "Question: Server-side rendering"
Hey folks,

I have a simple `generator-react-webpack` project I'd like to server-side render.

Given Webpack is bundling the entire app into a single file (including my `ReactDOM.render(<App />, document.getElementById('app'));` line), I can't use `ReactDOMServer.renderToString()` because `document` isn't defined.

This app is going to be served statically, and so I'll be writing a simple node scr

[2016-07-20 00:26] sthzg commented on #259
Hi @chrishutchinson, getting any kind of SSR to work usually involves the following steps:

1. providing a separate entry point for the SSR build
2. configuring the new entry point for the SSR build (e.g. in `cfg/dist.js`)
3. providing an outside-html template to inject the statically rendered markup into
4. configuring the static build to extract CSS into an external file (e.g. with the [ExtractT

[2016-07-22 05:17] Hosar commented on #222
Same here, I'm getting a similar error:

npm ERR! Linux 3.13.0-92-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "serve"
npm ERR! node v5.6.0
npm ERR! npm  v3.6.0
npm ERR! code ELIFECYCLE
npm ERR! testOfReactWebPackGen@0.0.1 serve: `node server.js --env=dev`
npm ERR! Exit status 1

[2016-07-22 05:28] weblogixx commented on #222
Hi @Hosar,

you already have some other service listening on port 8000. See this line:

[code]

Please make sure nothing else runs on port 8000 before you run npm start.

[2016-07-24 17:21] cheshire137 opened #260 "env variables not passed through"
I'm trying to modify src/config/base.js to include an environment variable value like so:

[code]

However, `id` is always `undefined`. I can `console.log(process.env);` in server.js and I see the CLIENT_ID environment variable as expected. So something strips it out before it makes it to the app, thus I'm not sure where configuration should live.

[2016-07-24 22:31] sthzg commented on #260
hi @cheshire137 I do this by using Webpack's [DefinePlugin](https://webpack.github.io/docs/list-of-plugins.html#defineplugin) to make selected (env) variables available.

In the current generator version (the config system is refactored for the upcoming V4 release) you will have to modify these files:

- [`cfg/dev.js`](https://github.com/weblogixx/react-webpack-template/blob/v1.7.1/cfg/dev.js#L19)

[2016-07-27 18:31] WillTheSun opened #261 "Updated package.json dependencies"
Hello,

I updated the Webpact, React, and a few other dependencies in the package.json file. Would this be a useful contribution to the project? I'm not sure how to add it or if it's helpful. Sorry if I'm commenting in the wrong place.

The new package is here: https://github.com/WillTheSun/InventorySite/blob/master/package.json

Best,
William

[2016-07-31 09:42] be-codified opened #262 "Run only single test"
Hi,

thank you for the awesome pack.

Can you point me how to run only single test?

[2016-08-01 05:34] weblogixx commented on #262
Hi @be-codified,

unfortunately this is not that easy in webpack based setups. Basically you have two options: Either run the whole tests (in best case using npm run test:watch mode) or you have to adjust the file test/loadtest.js to match your paths.

Here is a quick example:

[code]

Hope this helps.

[2016-08-01 07:05] weblogixx commented on #259
Hi @chrishutchinson,

I have not tried server side rendering in the current version. Would be interested in this, too. We are currently looking into giving the generator the possibility to use ssr. Have a look at https://github.com/weblogixx/react-webpack-template/issues/41 for the current status of this.

[2016-08-01 09:19] sthzg commented on #253
Closed with #254

[2016-08-01 09:19] #253 closed

[2016-08-01 22:22] WillTheSun commented on #261
OK, good luck! I'd love to contribute and help out.

[2016-08-02 08:56] sthzg commented on #255
@weblogixx should I look into it and provide a PR or would you prefer keeping it in the queue for a bit until there is a final decision for it?

[2016-08-03 05:27] weblogixx commented on #255
Hey @sthzg,

that would be really nice. There is too much in the pipeline for me alone currently :(. I think multiple base files would be better for this task. However, it could get complicated because we are also supporting the v3 version currently.

[2016-08-03 08:31] sthzg commented on #255
@weblogixx ah, interesting. I was under the impression that the current `/v3/**` and `/v4/**` template structures would handle that separation. I will start implementing a solution using multiple base files and come back here when either there is sth. to show or to discuss if some blockers were too big to simply go on.

[2016-08-03 11:11] weblogixx commented on #255
Hi @sthzg,

yes, indeed they are. However, version 3 only knows about regular and stateless components, not cssmodule ones. Thats the reason I was saying it :)

[2016-08-03 13:51] sthzg commented on #255
@weblogixx I've just pushed an initial commit to coordinate the direction with you. https://github.com/sthzg/generator-react-webpack/commit/d08625612bd967b9fb26b5f1431ba96eecec8200

As noted in the commit message, first manual tests in v3 and v4 are working and, if the direction is okay, I'd work on updating the automated tests next, and then start detailed manual tests as well as probably iterati

[2016-08-03 17:02] sthzg opened #263 "V4 -- Provide sub generator to create HOCs"
I would like to provide a sub generator to create higher order components, initially supporting the two architectures of hocs described [here](https://medium.com/@franleplant/react-higher-order-components-in-depth-cf9032ee6c3e#.kd0m1v8bd).

**Props Proxy**

[code]

**Extending from WrappedComponent**

[code]

Especially the second kind of architecture I am using quite often in a current project an

[2016-08-03 19:02] sthzg commented on #255
(Manual) Tests

**V3**
- [ ] --nostyle stateful validates and tests
- [ ] --nostyle stateless validates and tests
- [ ] with style stateful validates and tests
- [ ] with style stateless validates and tests

**V4**
- [ ] --nostyle stateful validates and tests
- [ ] --nostyle stateless validates and tests
- [ ] with style stateful validates and tests
- [ ] with style stateless validates and tests
-

[2016-08-04 08:51] weblogixx commented on #255
Pure genius 👍 . Looks really sweet and nicely implemented. Will have a deeper look at it today.

[2016-08-04 18:56] be-codified commented on #262
It helped, thank you.

[2016-08-04 18:56] #262 closed

[2016-08-04 19:06] weblogixx commented on #257
Hi @zhouyu1993,

there was no response for 20 days now, so I will handle this issue as resolved. Feel free to reopen it if your problem still persists.

[2016-08-04 19:06] #257 closed

[2016-08-04 19:07] #251 closed

[2016-08-05 05:33] weblogixx opened #264 "V4 -- Provide ability to use PureComponent as base class"
As seen in https://github.com/facebook/react/releases/tag/v15.3.0, we now have to possibility to use the following pattern with es2015 classes:

[code]

This will eliminate the need to handle shouldComponentUpdate by yourself or stateless functional components if you want to.

We should allow the user to extend from React.PureComponent, e.g. as a command line flag.

@sthzg: Whats your opinion on t

[2016-08-05 07:59] sthzg commented on #264
👍  that would be a great addon, especially as it is a core feature without an external dependency now.

[2016-08-05 08:02] weblogixx commented on #264
We could build this on your current refactorings, maybe as its own style (stateless vs statefull vs cssmodulearized?). Or do you think it would be better to just wrap the current templates with ejs ifs?

[2016-08-05 08:08] sthzg commented on #264
I thought about this. IMO that's a good match for an if/else, as the condition only affects one token in the `class extends` line.

[2016-08-05 10:02] zhe-he commented on #241
I also encountered a similar problem, the following error message:

`START:
05 08 2016 17:58:13.610:INFO [karma]: Karma v0.13.22 server started at http://localhost:8000/
05 08 2016 17:58:13.624:INFO [launcher]: Starting browser PhantomJS
05 08 2016 17:58:15.449:INFO [PhantomJS 2.1.1 (Windows 8 0.0.0)]: Connected on socket /#so1tch1w0P-ZsDgrAAAA with id 85206816
PhantomJS 2.1.1 (Windows 8 0.0.0) ER

[2016-08-05 11:50] sthzg opened #265 "V4 -- Add dependency to cssmodules on installation"
In order to support setups with and without cssmodules, starting with [v2.0.1-4](https://github.com/react-webpack-generators/react-webpack-template/releases/tag/v2.0.1-4) of the template we removed all hard dependencies to it, including listing the module in `package.json`. In order to support setups with `cssmodules: Yes` we need to add this dependency programmatically.

[2016-08-05 12:32] sthzg commented on #255
I've now squashed the branch into one commit so that it is easier to review and if everything is fine ready to become a PR.

[2016-08-08 03:53] kanlidy opened #266 "Try to use Browser-sync in our kit. But failed."
You guys do a good job, I love your kit to do my development, helps a lot. Here is my problem:

I try to use Browser-sync in our kit, refresh the browser automatically after change any html,css,js code!

Follow the config file here : [https://github.com/Browsersync/recipes/tree/master/recipes/webpack.react-hot-loader](https://github.com/Browsersync/recipes/tree/master/recipes/webpack.react-hot-loa

[2016-08-09 04:25] vinhnglx commented on #198
@codeofsumit, cc: @weblogixx

I got same error like you, but when I split scss files by structure, the code will run. Here is my code, you can refer it, hope it helps.

<img width="184" alt="tmux__tmux_" src="https://cloud.githubusercontent.com/assets/1997137/17504503/ea505576-5e2b-11e6-97ff-ae3ab6bcf906.png">

[code]

[code]

[code]

[2016-08-09 09:22] sthzg opened #267 "Build component name with _.capitalize instead of _.classify"
Currently the component name is built with classify ([utils/yeoman.js:44](https://github.com/newtriks/generator-react-webpack/blob/master/utils/yeoman.js#L44)), which turns a second consecutive capital letter to lowercase.

[code]

With [_.capitalize](https://epeli.github.io/underscore.string/#capitalize-string-lowercaserest-false-gt-string) we could keep that control on the user-side:

[code]

[2016-08-09 09:47] sthzg commented on #266
Hi @kanlidy, thanks for sharing, it's an interesting idea to combine them both. As far as I can see, the recipe assumes using the `webpack-dev-middleware`, whereas this generator uses the `webpack-dev-server`. In terms of integrating browser sync with this generator, the [browser-sync-webpack-plugin](https://www.npmjs.com/package/browser-sync-webpack-plugin) might be a good starting point. The con

[2016-08-09 19:44] weblogixx commented on #267
Seems like a good idea. Will have a look at it and implement it eventually.

[2016-08-09 20:07] weblogixx commented on #255
Just looked into it, hopefully awaiting your pr 👍

[2016-08-09 21:09] sthzg commented on #255
Ready in https://github.com/newtriks/generator-react-webpack/pull/268

[2016-08-09 21:22] #255 closed

[2016-08-09 21:25] weblogixx commented on #264
If you are not already working on this, I would include this feature tomorrow

[2016-08-09 21:31] sthzg commented on #264
Haven't started work on this issue. If you have time and want to tackle it then that's great, otherwise feel free to assign me on it.

[2016-08-09 21:35] weblogixx commented on #264
Sorry, I cannot, we`ll have to wait for the move first. Will do this tomorrow. Seems like a good place to start again ;).

[2016-08-09 21:37] weblogixx commented on #241
Hi @zhe-he,

could you eventually provide a link to the repository you are testing it on? It seems like you are using the const keyword somewhere without transpiling via babel and I cannot reproduce this issue with a freshly generated setup.

[2016-08-10 07:46] kanlidy commented on #266
I really want to contribute my efforts to the project.

@sthzg Hi, I tried it and fig it out with my solution: https://github.com/kanlidy/generator-react-webpack/tree/browsersync

Here's my problem:
I don't really know how to modify the yeoman config files, so I just push it all into dev. Could you please to checkout my branch, and see how it works.

And my question:
How to debug Yeoman generator?

[2016-08-10 08:22] weblogixx commented on #266
Hi @kanlidy,

thank you for your help. It is really appreciated!

I think we will have to discuss if we want to support browsersync out of the box with the default project. However, we are currently working on support for foreign modules that can be more or less be set "on top" of our generator. The reason for this is that we want the generator and the underlying template as slim as possible.

@st